In [1]:
# _importing required libraries
import os
import collections

import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from scipy import stats 

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# _initializing constant variables
input_file_path = os.getcwd() + f'/../data/processed_data.csv'
col_names = ['timestamp (s)', 'activityID', 'X1', 'Y1', 'Z1', 'X2', 'Y2', 'Z2']

In [3]:
# _loading preprocessed data to main dataframe
main_df = pd.read_csv(input_file_path, header=None, names=col_names)
main_df

,timestamp (s),activityID,X1,Y1,Z1,X2,Y2,Z2
0,37.66,1,0.418461,0.925518,0.472759,-0.035942,0.138344,-0.011430
1,37.67,1,0.432534,0.752532,0.514698,-0.556016,0.093168,-0.006729
2,37.68,1,0.432340,0.601171,0.535716,-0.763257,0.039907,0.023608
3,37.69,1,0.418957,0.601528,0.555967,-0.622059,0.069178,0.060307
4,37.70,1,0.434205,0.634318,0.607554,-0.239073,-0.070386,0.034582
...,...,...,...,...,...,...,...,...
288214,974.50,3,-0.356667,0.023598,1.269533,-0.233579,-0.058947,-0.165780
288215,974.51,3,-0.357490,0.101736,1.209994,-0.369190,0.018471,-0.029929
288216,974.52,3,-0.350256,0.068348,1.257699,-0.585796,-0.012709,-0.046238
288217,974.53,3,-0.353363,-0.022715,1.115753,-0.712105,0.084094,-0.053992
288218,974.54,3,-0.380056,-0.067604,1.079645,-0.757696,0.072358,0.030327

In [4]:
print(pd.Series(main_df['timestamp (s)']).is_unique)

#performing normalization for X1,Y1,Z1,X2,Y2,Z2

def normalization(X):   
        normalized_values=(main_df[X]-main_df[X].mean())/main_df[X].std()
        return normalized_values

False

In [5]:
normalization('X1')

0         0.418460
1         0.432534
2         0.432339
3         0.418956
4         0.434204
            ...
288214   -0.356666
288215   -0.357490
288216   -0.350256
288217   -0.353362
288218   -0.380055
Name: X1, Length: 288219, dtype: float64

# Generating subsequences for each sequence of the data

In [6]:
def elbow_techique(sub_sequence_data):
    
    # _only for manual testing
    distortions = []
    for k in range(1,10):
        kmeanModel = KMeans(n_clusters=k)
        kmeanModel.fit(sub_sequence_data)
        distortions.append(kmeanModel.inertia_)

    # _plot the distortions to observe the elbow point from the graph
    plt.figure(figsize=(16,8))
    plt.plot(K, distortions, 'bx-')
    plt.xlabel('k')
    plt.ylabel('Distortion')
    plt.title('The Elbow Method showing the optimal k')
    plt.show()

In [7]:
def get_cluster_ids(sub_sequence_data, cluster_cnt):
    
    # _passing random state as an argument to make Kmeans clustering deterministic
    kmeans_model = KMeans(n_clusters = cluster_cnt,random_state=1234)
    return kmeans_model.fit_predict(sub_sequence_data)

In [8]:
def get_assigned_words(seq_clusters, cluster_words):
    
    # _assign word to each cluster of the subsequence usnig numpy where function
    assigned_words = np.where(seq_clusters != 0, seq_clusters, cluster_words[0])
    for idx in range(1, len(cluster_words)):
         assigned_words = np.where(seq_clusters != idx, assigned_words, cluster_words[idx])
            
    return assigned_words

In [9]:
def generating_numbers(sequence_names):
    
    # _each word contains common prefix of subsequence and unique cluster alphabet
    alphabet = 'ABCDEFGHIJ'
    words_dict = {}
    
    for seq in sequence_names:
        prefix = seq
        words_dict[seq] = [prefix+'_'+alphabet[i] for i in range(len(alphabet))]
        
    return words_dict

In [10]:
# _initializing variables
window_length = 10
window_overlap = 5
max_window_index = len(main_df.index)
sequence_names = col_names[1:]
num_of_subsequences = len(sequence_names)
sub_sequences = [[] for x in range(num_of_subsequences)]

In [11]:
window_index = 0

while window_index <= (max_window_index - window_length):

    activity_sequence = main_df[sequence_names[0]][window_index:window_index+window_length].tolist()

    if len(set(activity_sequence)) == 1:
        sub_sequences[0].append(activity_sequence[0])
        
        for idx in range(1, num_of_subsequences):
            sub_sequences[idx].append(main_df[sequence_names[idx]][window_index:window_index+window_length].tolist())

    window_index += window_overlap

# _converting into numpy arrays
np_sequences = np.asarray(sub_sequences[1:])
print(np_sequences.shape)

(6, 57624, 10)

In [12]:
np_sequences

array([[[ 0.41846107,  0.4325343 ,  0.43233971, ...,  0.43917806,
          0.42500753,  0.40483393],
        [ 0.39208982,  0.45447577,  0.43917806, ...,  0.43155215,
          0.41856204,  0.42432094],
        [ 0.44635971,  0.45900836,  0.43155215, ...,  0.42123129,
          0.42427504,  0.40606575],
        ...,
        [-0.3799194 , -0.39159868, -0.37978272, ..., -0.38582738,
         -0.36874242, -0.36929084],
        [-0.393654  , -0.37969046, -0.38582738, ..., -0.32863375,
         -0.3215845 , -0.35826592],
        [-0.36214933, -0.31517422, -0.32863375, ..., -0.36403722,
         -0.38226346, -0.35666676]],

       [[ 0.92551774,  0.75253208,  0.60117141, ...,  0.74152699,
          0.78480265,  0.70965873],
        [ 0.63462609,  0.73110967,  0.74152699, ...,  0.75214974,
          0.7310469 ,  0.68728047],
        [ 0.74154125,  0.74089641,  0.75214974, ...,  0.54559812,
          0.51436614,  0.49401942],
        ...,
        [-0.03390147,  0.04530534,  0.0558702 , ..., -0.06721866,
         -0.06847117, -0.0350681 ],
        [-0.06772796, -0.08987329, -0.06721866, ..., -0.06839418,
          0.02149   ,  0.0229024 ],
        [-0.03485787,  0.01017009, -0.06839418, ..., -0.03278517,
          0.02404239,  0.02359824]],

       [[ 0.47275937,  0.51469818,  0.53571562, ...,  0.50460714,
          0.48361638,  0.52450365],
        [ 0.58609343,  0.56660259,  0.50460714, ...,  0.47359207,
          0.51446065,  0.47363744],
        [ 0.51503446,  0.46395206,  0.47359207, ...,  0.37129917,
          0.50499946,  0.61765563],
        ...,
        [ 1.07953116,  1.12633128,  1.06737089, ...,  1.115033  ,
          0.99701371,  0.96133639],
        [ 1.04373378,  1.10342995,  1.115033  , ...,  1.06918724,
          1.08091035,  1.18655388],
        [ 0.9970722 ,  1.08112277,  1.06918724, ...,  1.23398511,
          1.28068979,  1.26953312]],

       [[-0.03594239, -0.556016  , -0.76325741, ...,  0.60286752,
          0.61461092,  0.51241843],
        [ 0.17788448,  0.57330344,  0.60286752, ..., -0.20205125,
         -0.60609522, -1.01186238],
        [ 0.28967106, -0.00687299, -0.20205125, ..., -1.72372421,
         -1.72425064, -1.05876122],
        ...,
        [ 0.24393048,  0.12690315,  0.06809587, ..., -0.03269485,
          0.04408396, -0.03227479],
        [-0.06787046, -0.04971626, -0.03269485, ...,  0.04286156,
          0.04082251, -0.06147269],
        [-0.03333412,  0.00367978,  0.04286156, ..., -0.1772617 ,
         -0.16141208, -0.23357885]],

       [[ 0.13834383,  0.09316761,  0.03990746, ..., -0.03655381,
         -0.25679949, -0.20884027],
        [ 0.02482764,  0.00967505, -0.03655381, ..., -0.05847925,
         -0.07597402,  0.03400539],
        [-0.14594452, -0.18081608, -0.05847925, ...,  0.17139079,
          0.09401662,  0.26882843],
        ...,
        [-0.35967409, -0.2588281 , -0.30967475, ..., -0.11345238,
         -0.09612532, -0.03614716],
        [-0.34837415, -0.25006065, -0.11345238, ..., -0.01832841,
          0.02705416,  0.0311619 ],
        [-0.04479231,  0.07236224, -0.01832841, ...,  0.18967985,
         -0.00196803, -0.05894705]],

       [[-0.01142991, -0.00672887,  0.02360784, ...,  0.22178693,
          0.16746486,  0.08430356],
        [ 0.09344501,  0.13458344,  0.22178693, ..., -0.00377824,
          0.00793589, -0.08227008],
        [ 0.05382533,  0.12753681, -0.00377824, ..., -0.27332683,
         -0.42930932, -0.29937462],
        ...,
        [-0.0559215 , -0.10812069, -0.1143245 , ..., -0.17412622,
         -0.20501352, -0.14381746],
        [-0.17424728, -0.10456263, -0.17412622, ..., -0.08737568,
         -0.18178004, -0.06749242],
        [-0.08310562, -0.03298531, -0.08737568, ..., -0.03296927,
         -0.15109523, -0.16577984]]])

In [13]:
# _document dataframe to store word assignments of each window
doc_df = pd.DataFrame(columns=col_names[1:])
doc_df['activityID'] = sub_sequences[0]
doc_df

       activityID   X1   Y1   Z1   X2   Y2   Z2
0               1  NaN  NaN  NaN  NaN  NaN  NaN
1               1  NaN  NaN  NaN  NaN  NaN  NaN
2               1  NaN  NaN  NaN  NaN  NaN  NaN
3               1  NaN  NaN  NaN  NaN  NaN  NaN
4               1  NaN  NaN  NaN  NaN  NaN  NaN
...           ...  ...  ...  ...  ...  ...  ...
57619           3  NaN  NaN  NaN  NaN  NaN  NaN
57620           3  NaN  NaN  NaN  NaN  NaN  NaN
57621           3  NaN  NaN  NaN  NaN  NaN  NaN
57622           3  NaN  NaN  NaN  NaN  NaN  NaN
57623           3  NaN  NaN  NaN  NaN  NaN  NaN

[57624 rows x 7 columns]

In [14]:
words_dict = generating_numbers(sequence_names[1:])
print(words_dict)
print()

# _after observing the clustering result with elbow method, we are manually choosing the n_clusters value.
# _testing: elbow_techique(np_sequences[0])
sequence_cluster_cnts = {'X1': 3, 'Y1': 4, 'Z1': 3, 'X2': 3, 'Y2': 3, 'Z2': 3}
print(sequence_cluster_cnts)

{'X1': ['X1_A', 'X1_B', 'X1_C', 'X1_D', 'X1_E', 'X1_F', 'X1_G', 'X1_H', 'X1_I', 'X1_J'], 'Y1': ['Y1_A', 'Y1_B', 'Y1_C', 'Y1_D', 'Y1_E', 'Y1_F', 'Y1_G', 'Y1_H', 'Y1_I', 'Y1_J'], 'Z1': ['Z1_A', 'Z1_B', 'Z1_C', 'Z1_D', 'Z1_E', 'Z1_F', 'Z1_G', 'Z1_H', 'Z1_I', 'Z1_J'], 'X2': ['X2_A', 'X2_B', 'X2_C', 'X2_D', 'X2_E', 'X2_F', 'X2_G', 'X2_H', 'X2_I', 'X2_J'], 'Y2': ['Y2_A', 'Y2_B', 'Y2_C', 'Y2_D', 'Y2_E', 'Y2_F', 'Y2_G', 'Y2_H', 'Y2_I', 'Y2_J'], 'Z2': ['Z2_A', 'Z2_B', 'Z2_C', 'Z2_D', 'Z2_E', 'Z2_F', 'Z2_G', 'Z2_H', 'Z2_I', 'Z2_J']}

{'X1': 3, 'Y1': 4, 'Z1': 3, 'X2': 3, 'Y2': 3, 'Z2': 3}

In [15]:
for idx, (seq, cluster_cnt) in enumerate(sequence_cluster_cnts.items()):
    
    # _perform k means clustering on subsequences
    seq_clusters = get_cluster_ids(np_sequences[idx], cluster_cnt)
    cluster_words = words_dict[seq][:cluster_cnt]
    
    print(f'{idx} -- {seq} -- {cluster_cnt} -- {cluster_words} -- {set(seq_clusters)}')
    
    # _get assigned words and fill the values in doc_df
    assigned_words = get_assigned_words(seq_clusters, cluster_words)
    doc_df[seq] = assigned_words

0 -- X1 -- 3 -- ['X1_A', 'X1_B', 'X1_C'] -- {0, 1, 2}
1 -- Y1 -- 4 -- ['Y1_A', 'Y1_B', 'Y1_C', 'Y1_D'] -- {0, 1, 2, 3}
2 -- Z1 -- 3 -- ['Z1_A', 'Z1_B', 'Z1_C'] -- {0, 1, 2}
3 -- X2 -- 3 -- ['X2_A', 'X2_B', 'X2_C'] -- {0, 1, 2}
4 -- Y2 -- 3 -- ['Y2_A', 'Y2_B', 'Y2_C'] -- {0, 1, 2}
5 -- Z2 -- 3 -- ['Z2_A', 'Z2_B', 'Z2_C'] -- {0, 1, 2}

doc_df

In [16]:
doc_df

       activityID    X1    Y1    Z1    X2    Y2    Z2
0               1  X1_B  Y1_A  Z1_A  X2_A  Y2_A  Z2_A
1               1  X1_B  Y1_A  Z1_A  X2_A  Y2_A  Z2_A
2               1  X1_B  Y1_A  Z1_A  X2_A  Y2_A  Z2_A
3               1  X1_B  Y1_A  Z1_A  X2_A  Y2_A  Z2_A
4               1  X1_B  Y1_A  Z1_A  X2_A  Y2_A  Z2_A
...           ...   ...   ...   ...   ...   ...   ...
57619           3  X1_B  Y1_B  Z1_A  X2_A  Y2_A  Z2_A
57620           3  X1_B  Y1_B  Z1_A  X2_A  Y2_A  Z2_A
57621           3  X1_B  Y1_B  Z1_A  X2_A  Y2_A  Z2_A
57622           3  X1_B  Y1_B  Z1_A  X2_A  Y2_A  Z2_A
57623           3  X1_B  Y1_B  Z1_A  X2_A  Y2_A  Z2_A

[57624 rows x 7 columns]

# Finding the statistics of the clusters(mean,variance,skewness)

In [17]:
def clust_subseq(X,i):
    d1=pd.DataFrame(doc_df[X])
    X1_df = pd.DataFrame(np_sequences[i])
    df=pd.concat([d1,X1_df],axis = 1)
    df.columns =['Col_1', 'Col_2','Col_3','Col_4','Col_5','Col_6','Col_7','Col_8','Col_9','Col_10','Col_11'] 
    return df

In [18]:

cluster_subseq =[]
di = {'X1':0,'Y1':1,'Z1':2,'X2':3,'Y2':4,'Z2':5}

for key,value in di.items():    
    last = clust_subseq(key,value)
    cluster_subseq.append(last)
print(cluster_subseq)

[      Col_1     Col_2     Col_3     Col_4     Col_5     Col_6     Col_7  \
0      X1_B  0.418461  0.432534  0.432340  0.418957  0.434205  0.392090
1      X1_B  0.392090  0.454476  0.439178  0.425008  0.404834  0.446360
2      X1_B  0.446360  0.459008  0.431552  0.418562  0.424321  0.424125
3      X1_B  0.424125  0.403657  0.421231  0.424275  0.406066  0.400746
4      X1_B  0.400746  0.427658  0.409005  0.407630  0.450090  0.427414
...     ...       ...       ...       ...       ...       ...       ...
57619  X1_B -0.336824 -0.360822 -0.416235 -0.401223 -0.420228 -0.432775
57620  X1_B -0.432775 -0.434236 -0.395955 -0.395909 -0.397187 -0.379919
57621  X1_B -0.379919 -0.391599 -0.379783 -0.379875 -0.393517 -0.393654
57622  X1_B -0.393654 -0.379690 -0.385827 -0.368742 -0.369291 -0.362149
57623  X1_B -0.362149 -0.315174 -0.328634 -0.321584 -0.358266 -0.352358

          Col_8     Col_9    Col_10    Col_11
0      0.454476  0.439178  0.425008  0.404834
1      0.459008  0.431552  0.418562  0.424321
2      0.403657  0.421231  0.424275  0.406066
3      0.427658  0.409005  0.407630  0.450090
4      0.434010  0.418613  0.418171  0.390518
...         ...       ...       ...       ...
57619 -0.434236 -0.395955 -0.395909 -0.397187
57620 -0.391599 -0.379783 -0.379875 -0.393517
57621 -0.379690 -0.385827 -0.368742 -0.369291
57622 -0.315174 -0.328634 -0.321584 -0.358266
57623 -0.378686 -0.364037 -0.382263 -0.356667

[57624 rows x 11 columns],       Col_1     Col_2     Col_3     Col_4     Col_5     Col_6     Col_7  \
0      Y1_A  0.925518  0.752532  0.601171  0.601528  0.634318  0.634626
1      Y1_A  0.634626  0.731110  0.741527  0.784803  0.709659  0.741541
2      Y1_A  0.741541  0.740896  0.752150  0.731047  0.687280  0.698012
3      Y1_A  0.698012  0.611948  0.545598  0.514366  0.494019  0.635211
4      Y1_A  0.635211  0.775030  0.927407  0.948484  0.861861  0.666877
...     ...       ...       ...       ...       ...       ...       ...
57619  Y1_B -0.270915 -0.269772 -0.054759  0.125406  0.215536  0.193438
57620  Y1_B  0.193438  0.114306  0.169659  0.124823  0.034554 -0.033901
57621  Y1_B -0.033901  0.045305  0.055870  0.033402 -0.090098 -0.067728
57622  Y1_B -0.067728 -0.089873 -0.067219 -0.068471 -0.035068 -0.034858
57623  Y1_B -0.034858  0.010170 -0.068394  0.021490  0.022902  0.000150

          Col_8     Col_9    Col_10    Col_11
0      0.731110  0.741527  0.784803  0.709659
1      0.740896  0.752150  0.731047  0.687280
2      0.611948  0.545598  0.514366  0.494019
3      0.775030  0.927407  0.948484  0.861861
4      0.591017  0.525754  0.590417  0.666432
...         ...       ...       ...       ...
57619  0.114306  0.169659  0.124823  0.034554
57620  0.045305  0.055870  0.033402 -0.090098
57621 -0.089873 -0.067219 -0.068471 -0.035068
57622  0.010170 -0.068394  0.021490  0.022902
57623 -0.010939 -0.032785  0.024042  0.023598

[57624 rows x 11 columns],       Col_1     Col_2     Col_3     Col_4     Col_5     Col_6     Col_7  \
0      Z1_A  0.472759  0.514698  0.535716  0.555967  0.607554  0.586093
1      Z1_A  0.586093  0.566603  0.504607  0.483616  0.524504  0.515034
2      Z1_A  0.515034  0.463952  0.473592  0.514461  0.473637  0.463328
3      Z1_A  0.463328  0.493969  0.371299  0.504999  0.617656  0.658183
4      Z1_A  0.658183  0.596697  0.657441  0.595712  0.648270  0.607303
...     ...       ...       ...       ...       ...       ...       ...
57619  Z1_A  1.022282  1.116418  1.208956  1.279822  1.278994  1.302427
57620  Z1_A  1.302427  1.243424  1.208716  1.220726  1.173612  1.079531
57621  Z1_A  1.079531  1.126331  1.067371  1.067448  1.055663  1.043734
57622  Z1_A  1.043734  1.103430  1.115033  0.997014  0.961336  0.997072
57623  Z1_A  0.997072  1.081123  1.069187  1.080910  1.186554  1.163095

          Col_8     Col_9    Col_10    Col_11
0      0.566603  0.504607  0.483616  0.524504
1      0.463952  0.473592  0.514461  0.473637
2      0.493969  0.371299  0.504999  0.617656
3      0.596697  0.657441  0.595712  0.648270
4      0.607687  0.556199  0.525168  0.514055
...         ...       ...       ...       ...
57619  1.243424  1.208716  1.220726  1.173612
57620  1.126331  1.067371  1.067448  1.055663
57621  1.103430  1.115033  0.997014  0.961336
57622  1.081123  1.069187  1.080910  1.186554
57623  1.138726  1.233985  1.280690  1.269533

[57624 rows x 11 columns],       Col_1     Col_2     Col_3     Col_4     Col_5     Col_6     Col_7  \
0      X2_A -0.035942 -0.556016 -0.763257 -0.622059 -0.239073  0.177884
1      X2_A  0.177884  0.573303  0.602868  0.614611  0.512418  0.289671
2      X2_A  0.289671 -0.006873 -0.202051 -0.606095 -1.011862 -1.364401
3      X2_A -1.364401 -1.584258 -1.723724 -1.724251 -1.058761 -0.261198
4      X2_A -0.261198  0.575964  0.893459  0.842212  0.529102  0.330122
...     ...       ...       ...       ...       ...       ...       ...
57619  X2_A  0.491095  0.544604  0.642872  0.784777  0.819346  0.713698
57620  X2_A  0.713698  0.649830  0.523810  0.482541  0.363320  0.243930
57621  X2_A  0.243930  0.126903  0.068096  0.052519 -0.038790 -0.067870
57622  X2_A -0.067870 -0.049716 -0.032695  0.044084 -0.032275 -0.033334
57623  X2_A -0.033334  0.003680  0.042862  0.040823 -0.061473 -0.099740

          Col_8     Col_9    Col_10    Col_11
0      0.573303  0.602868  0.614611  0.512418
1     -0.006873 -0.202051 -0.606095 -1.011862
2     -1.584258 -1.723724 -1.724251 -1.058761
3      0.575964  0.893459  0.842212  0.529102
4      0.214630  0.395305  0.736621  0.943236
...         ...       ...       ...       ...
57619  0.649830  0.523810  0.482541  0.363320
57620  0.126903  0.068096  0.052519 -0.038790
57621 -0.049716 -0.032695  0.044084 -0.032275
57622  0.003680  0.042862  0.040823 -0.061473
57623 -0.117290 -0.177262 -0.161412 -0.233579

[57624 rows x 11 columns],       Col_1     Col_2     Col_3     Col_4     Col_5     Col_6     Col_7  \
0      Y2_A  0.138344  0.093168  0.039907  0.069178 -0.070386  0.024828
1      Y2_A  0.024828  0.009675 -0.036554 -0.256799 -0.208840 -0.145945
2      Y2_A -0.145945 -0.180816 -0.058479 -0.075974  0.034005  0.008065
3      Y2_A  0.008065  0.008511  0.171391  0.094017  0.268828  0.169664
4      Y2_A  0.169664  0.140002  0.003986 -0.010144 -0.296776 -0.060867
...     ...       ...       ...       ...       ...       ...       ...
57619  Y2_A  0.037013  0.111520  0.013009 -0.155481 -0.162488 -0.273423
57620  Y2_A -0.273423 -0.220283 -0.167420 -0.418608 -0.509837 -0.359674
57621  Y2_A -0.359674 -0.258828 -0.309675 -0.263451 -0.256557 -0.348374
57622  Y2_A -0.348374 -0.250061 -0.113452 -0.096125 -0.036147 -0.044792
57623  Y2_A -0.044792  0.072362 -0.018328  0.027054  0.031162  0.020606

          Col_8     Col_9    Col_10    Col_11
0      0.009675 -0.036554 -0.256799 -0.208840
1     -0.180816 -0.058479 -0.075974  0.034005
2      0.008511  0.171391  0.094017  0.268828
3      0.140002  0.003986 -0.010144 -0.296776
4     -0.116924 -0.106161 -0.230913 -0.060218
...         ...       ...       ...       ...
57619 -0.220283 -0.167420 -0.418608 -0.509837
57620 -0.258828 -0.309675 -0.263451 -0.256557
57621 -0.250061 -0.113452 -0.096125 -0.036147
57622  0.072362 -0.018328  0.027054  0.031162
57623  0.101399  0.189680 -0.001968 -0.058947

[57624 rows x 11 columns],       Col_1     Col_2     Col_3     Col_4     Col_5     Col_6     Col_7  \
0      Z2_A -0.011430 -0.006729  0.023608  0.060307  0.034582  0.093445
1      Z2_A  0.093445  0.134583  0.221787  0.167465  0.084304  0.053825
2      Z2_A  0.053825  0.127537 -0.003778  0.007936 -0.082270 -0.163038
3      Z2_A -0.163038 -0.283070 -0.273327 -0.429309 -0.299375 -0.138082
4      Z2_A -0.138082 -0.153010 -0.040099 -0.055753 -0.027729  0.051584
...     ...       ...       ...       ...       ...       ...       ...
57619  Z2_A -0.400003 -0.484714 -0.428690 -0.312735 -0.162056  0.006278
57620  Z2_A  0.006278 -0.052339 -0.144429  0.007305 -0.015031 -0.055921
57621  Z2_A -0.055921 -0.108121 -0.114324 -0.030171 -0.141111 -0.174247
57622  Z2_A -0.174247 -0.104563 -0.174126 -0.205014 -0.143817 -0.083106
57623  Z2_A -0.083106 -0.032985 -0.087376 -0.181780 -0.067492 -0.102873

          Col_8     Col_9    Col_10    Col_11
0      0.134583  0.221787  0.167465  0.084304
1      0.127537 -0.003778  0.007936 -0.082270
2     -0.283070 -0.273327 -0.429309 -0.299375
3     -0.153010 -0.040099 -0.055753 -0.027729
4      0.036526  0.056128  0.032711 -0.031333
...         ...       ...       ...       ...
57619 -0.052339 -0.144429  0.007305 -0.015031
57620 -0.108121 -0.114324 -0.030171 -0.141111
57621 -0.104563 -0.174126 -0.205014 -0.143817
57622 -0.032985 -0.087376 -0.181780 -0.067492
57623 -0.111353 -0.032969 -0.151095 -0.165780

[57624 rows x 11 columns]]

In [19]:
def clusterstatistics(Y,X):
    
    cluster_df = Y.loc[(Y['Col_1'] == X)] 
    
    Columns = ['Col_2','Col_3','Col_4','Col_5','Col_6','Col_7','Col_8','Col_9','Col_10','Col_11'] 
    Mean = []
    Variance = []
    Skewness = []
    IQR = []

    for values in Columns:
        M = cluster_df [values].mean()
        V = cluster_df[values].var()
        S = cluster_df[values].skew()
        Iqr = stats.iqr(cluster_df [values], interpolation = 'midpoint') 
        
        Mean.append(M)
        Variance.append(V)
        Skewness.append(S)
        IQR.append(Iqr)
    
    stat_df=pd.DataFrame(Mean,columns=["Mean"])
    stat_df["Variance"]=Variance
    stat_df["Skewness"]=Skewness
    stat_df["IQR"]=IQR

    return  stat_df

In [20]:
statistic=[]
dic = {0:['X1_A', 'X1_B', 'X1_C'],
       1:['Y1_A', 'Y1_B', 'Y1_C', 'Y1_D'],
       2:['Z1_A', 'Z1_B', 'Z1_C'],
       3:['X2_A', 'X2_B', 'X2_C'],
       4:['Y2_A', 'Y2_B', 'Y2_C'],
       5:['Z2_A', 'Z2_B', 'Z2_C']
      }
for i in range(len(cluster_subseq)):
    cluster_names=dic[i]
    for j in range(len(cluster_names)):
        last1 = clusterstatistics(cluster_subseq[i],cluster_names[j])
        statistic.append(last1)
print(statistic)

[       Mean  Variance  Skewness       IQR
0  1.274679  0.039326 -1.303317  0.198075
1  1.275477  0.039357 -0.934785  0.198303
2  1.275563  0.038513 -1.226224  0.198435
3  1.275532  0.038408 -1.255802  0.198209
4  1.275592  0.038496 -1.258671  0.198316
5  1.275570  0.038260 -1.238674  0.198074
6  1.275712  0.038157 -1.223698  0.198302
7  1.275572  0.038244 -1.251014  0.198391
8  1.275309  0.038620 -1.258528  0.198210
9  1.274983  0.039048 -1.253927  0.198302,        Mean  Variance  Skewness       IQR
0  0.036291  0.055739 -0.107331  0.232987
1  0.036255  0.054877 -0.067490  0.232980
2  0.036660  0.058625  2.971029  0.231496
3  0.035840  0.058886 -3.826344  0.232412
4  0.036400  0.056353 -1.744062  0.231969
5  0.036833  0.053376 -0.057828  0.232821
6  0.036750  0.054547  0.299809  0.232699
7  0.036350  0.054257 -0.005810  0.231499
8  0.036083  0.054596 -0.094187  0.232412
9  0.036253  0.055372 -0.077001  0.231962,        Mean  Variance  Skewness       IQR
0 -1.206496  0.068277 -0.099735  0.451769
1 -1.207024  0.067609 -0.159761  0.449797
2 -1.207074  0.066864 -0.152913  0.451204
3 -1.207283  0.066400 -0.171604  0.451743
4 -1.207675  0.066396 -0.200958  0.451870
5 -1.207939  0.066459 -0.206305  0.451751
6 -1.207809  0.066594 -0.219043  0.449844
7 -1.206691  0.073266  3.588452  0.451204
8 -1.207352  0.071678 -2.441320  0.451743
9 -1.206923  0.070293 -0.987509  0.451915,        Mean  Variance   Skewness       IQR
0  1.126820  0.204967   2.806402  0.393840
1  1.130686  0.201286   2.905599  0.395211
2  1.135059  0.253788  17.075430  0.394863
3  1.136076  0.198829   3.800765  0.400636
4  1.135669  0.196418   2.034615  0.401480
5  1.135371  0.194257   3.262563  0.394686
6  1.134473  0.194139   3.069845  0.395648
7  1.134897  0.252649  17.291176  0.394751
8  1.132163  0.201656   3.865756  0.398909
9  1.127914  0.203653   1.933971  0.399198,        Mean  Variance  Skewness       IQR
0 -0.061992  0.095019  0.430180  0.466380
1 -0.062582  0.090907  0.507694  0.466607
2 -0.063320  0.087854  0.463911  0.465176
3 -0.063758  0.084472  0.369834  0.464518
4 -0.063898  0.082247  0.334248  0.463661
5 -0.063631  0.082660  0.336067  0.463822
6 -0.063107  0.087018  0.942089  0.464597
7 -0.063458  0.089097  0.257055  0.465447
8 -0.063480  0.091808  0.083016  0.466111
9 -0.062903  0.094658  0.242909  0.466608,        Mean  Variance  Skewness       IQR
0 -2.657974  1.184379 -4.295701  0.319745
1 -2.674827  1.088161 -3.718343  0.318743
2 -2.693327  1.104647 -4.398433  0.297278
3 -2.708393  1.062525 -4.244643  0.295880
4 -2.718271  1.106568 -4.915906  0.267417
5 -2.718899  1.081536 -5.069210  0.257093
6 -2.708760  1.020824 -4.207487  0.256608
7 -2.700708  1.091544 -4.493587  0.283070
8 -2.687227  1.094759 -3.997883  0.307346
9 -2.670399  1.157210 -4.439276  0.311083,        Mean  Variance  Skewness       IQR
0 -0.979509  0.107522 -1.445671  0.288625
1 -0.980238  0.099071 -1.150178  0.288086
2 -0.980886  0.095518 -0.992135  0.285468
3 -0.980874  0.094075 -0.819991  0.284949
4 -0.980438  0.091539 -0.880983  0.286320
5 -0.980117  0.089665 -0.751582  0.287638
6 -0.980009  0.090631 -0.770735  0.287383
7 -0.979555  0.094722 -0.855935  0.285470
8 -0.978970  0.102601 -1.139729  0.285645
9 -0.978151  0.112417 -1.886612  0.288444,        Mean  Variance   Skewness       IQR
0  0.718694  0.113698  -0.032710  0.479960
1  0.719634  0.112626   0.013165  0.479251
2  0.721359  0.148943  23.181856  0.480411
3  0.721406  0.114720   1.156039  0.480343
4  0.721380  0.112290   0.048939  0.480655
5  0.720992  0.109797   0.136942  0.479824
6  0.720877  0.109901   0.169430  0.479155
7  0.721118  0.147863  23.320333  0.480408
8  0.719970  0.114696   0.873788  0.480412
9  0.718973  0.114526  -0.120624  0.480687,        Mean  Variance  Skewness       IQR
0 -0.751150  0.220358  0.128137  0.843501
1 -0.751951  0.216602  0.091782  0.838953
2 -0.751988  0.214911  0.096610  0.835618
3 -0.752695  0.212812  0.096479  0.835261
4 -0.753365  0.212265  0.087259  0.834954
5 -0.753064  0.213524  0.130952  0.840905
6 -0.753058  0.213902  0.096355  0.834911
7 -0.751614  0.217465  0.282975  0.835784
8 -0.751360  0.220514  0.351579  0.838026
9 -0.751438  0.222484  0.199312  0.838940,        Mean  Variance  Skewness       IQR
0 -2.790086  0.364182  0.215834  0.972588
1 -2.795912  0.352738  0.213802  0.970727
2 -2.798685  0.344532  0.262522  0.981149
3 -2.803395  0.337768  0.180989  0.962599
4 -2.805007  0.333034  0.008663  0.944355
5 -2.804575  0.333737  0.020658  0.960668
6 -2.803386  0.337727  0.128206  0.962682
7 -2.799748  0.343660  0.267128  0.978971
8 -2.797266  0.351189  0.254809  0.972196
9 -2.791116  0.362515  0.169545  0.995261,        Mean  Variance  Skewness       IQR
0 -0.006752  0.240263  0.362112  0.128357
1 -0.007028  0.206993  0.465716  0.129037
2 -0.007469  0.179020  0.475806  0.128208
3 -0.008315  0.158831  0.364988  0.128373
4 -0.009309  0.149778  0.168798  0.128023
5 -0.008938  0.148792  0.167070  0.128227
6 -0.008775  0.156693  0.296442  0.129005
7 -0.008505  0.173760  0.081142  0.128217
8 -0.008400  0.198301 -0.030061  0.128453
9 -0.008319  0.226383  0.124259  0.128139,        Mean  Variance  Skewness       IQR
0  3.248398  6.727998  1.178130  2.561514
1  3.453051  6.177083  1.487189  2.405296
2  3.626691  5.707378  1.816508  2.222418
3  3.750444  5.353111  2.089992  2.172695
4  3.814024  5.005083  2.234320  2.117182
5  3.817792  4.865687  2.218048  2.117831
6  3.765964  5.096953  2.099966  2.129477
7  3.659585  5.741608  1.695517  2.157649
8  3.497679  6.510760  1.329141  2.386658
9  3.296743  7.116252  1.073659  2.547977,        Mean  Variance  Skewness       IQR
0 -3.136719  7.027050 -1.453251  2.292079
1 -3.329074  6.271671 -1.930568  2.211742
2 -3.486686  5.785304 -2.229506  2.142076
3 -3.591672  5.491590 -2.435627  2.040690
4 -3.644271  5.337217 -2.569925  1.880026
5 -3.638731  5.333834 -2.583991  1.947463
6 -3.579444  5.492598 -2.444189  2.049483
7 -3.473626  5.818844 -2.200972  2.123506
8 -3.318500  6.374076 -1.844913  2.285081
9 -3.139062  7.084840 -1.542715  2.399601,        Mean  Variance  Skewness       IQR
0 -0.000589  0.177976  0.584516  0.156665
1 -0.000005  0.168751 -0.285809  0.156106
2 -0.000273  0.155457  0.759598  0.156643
3 -0.000429  0.148971  0.695551  0.157026
4 -0.000448  0.146254  0.657454  0.157948
5 -0.000552  0.145833  0.651802  0.156651
6  0.000213  0.148280  0.637926  0.156102
7 -0.000321  0.154177  0.658634  0.156603
8 -0.000618  0.162577  0.723895  0.157021
9 -0.000665  0.173881  0.724496  0.157929,        Mean  Variance  Skewness       IQR
0 -4.072603  6.144905 -2.185806  2.399010
1 -4.142860  5.918346 -2.350106  2.343886
2 -4.198030  5.679390 -2.504990  2.374887
3 -4.234507  5.543244 -2.603830  2.363618
4 -4.252949  5.429773 -2.675440  2.304995
5 -4.254351  5.394213 -2.650274  2.250074
6 -4.238630  5.501214 -2.619083  2.272895
7 -4.195979  5.698925 -2.477173  2.385263
8 -4.135989  6.028303 -2.253915  2.459844
9 -4.058686  6.366615 -2.036640  2.460375,        Mean  Variance  Skewness       IQR
0  4.479679  7.113500  1.623264  3.046573
1  4.565089  6.815761  1.767637  2.886969
2  4.631676  6.469466  1.854234  2.763043
3  4.693423  6.886683  2.698482  2.667042
4  4.707206  6.379130  2.182052  2.784363
5  4.680340  6.411098  1.704125  2.889708
6  4.660049  6.775577  1.252733  2.814661
7  4.635445  6.516736  1.794356  2.773321
8  4.598878  7.313507  2.475507  2.765345
9  4.509226  7.266953  1.805083  2.917765,        Mean  Variance  Skewness       IQR
0 -0.001695  0.196728  0.561667  0.098780
1 -0.001396  0.185337  0.550261  0.098408
2 -0.001336  0.174047  0.456905  0.098113
3 -0.001913  0.168187  0.111799  0.099013
4 -0.002356  0.165116  0.027550  0.098322
5 -0.001828  0.163685  0.369161  0.098764
6 -0.001517  0.168211  0.463256  0.098415
7 -0.001387  0.174395  0.430397  0.098111
8 -0.001415  0.182680  0.461505  0.099021
9 -0.001648  0.193053  0.506638  0.098330,        Mean  Variance  Skewness       IQR
0 -5.311472  9.131201 -1.196752  3.695796
1 -5.407008  8.539002 -1.347158  3.622492
2 -5.482612  8.113453 -1.465151  3.344968
3 -5.536739  7.880313 -1.533491  3.289642
4 -5.564287  7.770202 -1.577623  3.325028
5 -5.568095  7.747716 -1.574295  3.315273
6 -5.533282  7.889226 -1.516445  3.433392
7 -5.470304  8.218524 -1.420659  3.302255
8 -5.421911  8.606692 -1.322165  3.428839
9 -5.329487  9.178054 -1.197699  3.617432,        Mean   Variance  Skewness       IQR
0  5.605047   9.915359  1.149520  4.065376
1  5.712925   9.346225  1.283486  4.052698
2  5.804916   8.885519  1.428776  3.968235
3  5.868600   8.561212  1.541659  3.872058
4  5.888370   8.349546  1.560356  3.808321
5  5.882834   8.468219  1.455635  3.785085
6  5.854893   8.607020  1.443737  3.868812
7  5.798059   8.964597  1.395315  3.958452
8  5.703707   9.620855  1.229915  4.019927
9  5.580870  10.366661  0.990535  4.077950]

In [21]:
allvalues=[]
for i in range(len(statistic)):
    l=statistic[i].T
    allvalues.append(l)
print(allvalues)

type(allvalues[0])

[                 0         1         2         3         4         5  \
Mean      1.274679  1.275477  1.275563  1.275532  1.275592  1.275570
Variance  0.039326  0.039357  0.038513  0.038408  0.038496  0.038260
Skewness -1.303317 -0.934785 -1.226224 -1.255802 -1.258671 -1.238674
IQR       0.198075  0.198303  0.198435  0.198209  0.198316  0.198074

                 6         7         8         9
Mean      1.275712  1.275572  1.275309  1.274983
Variance  0.038157  0.038244  0.038620  0.039048
Skewness -1.223698 -1.251014 -1.258528 -1.253927
IQR       0.198302  0.198391  0.198210  0.198302  ,                  0         1         2         3         4         5  \
Mean      0.036291  0.036255  0.036660  0.035840  0.036400  0.036833
Variance  0.055739  0.054877  0.058625  0.058886  0.056353  0.053376
Skewness -0.107331 -0.067490  2.971029 -3.826344 -1.744062 -0.057828
IQR       0.232987  0.232980  0.231496  0.232412  0.231969  0.232821

                 6         7         8         9
Mean      0.036750  0.036350  0.036083  0.036253
Variance  0.054547  0.054257  0.054596  0.055372
Skewness  0.299809 -0.005810 -0.094187 -0.077001
IQR       0.232699  0.231499  0.232412  0.231962  ,                  0         1         2         3         4         5  \
Mean     -1.206496 -1.207024 -1.207074 -1.207283 -1.207675 -1.207939
Variance  0.068277  0.067609  0.066864  0.066400  0.066396  0.066459
Skewness -0.099735 -0.159761 -0.152913 -0.171604 -0.200958 -0.206305
IQR       0.451769  0.449797  0.451204  0.451743  0.451870  0.451751

                 6         7         8         9
Mean     -1.207809 -1.206691 -1.207352 -1.206923
Variance  0.066594  0.073266  0.071678  0.070293
Skewness -0.219043  3.588452 -2.441320 -0.987509
IQR       0.449844  0.451204  0.451743  0.451915  ,                  0         1          2         3         4         5  \
Mean      1.126820  1.130686   1.135059  1.136076  1.135669  1.135371
Variance  0.204967  0.201286   0.253788  0.198829  0.196418  0.194257
Skewness  2.806402  2.905599  17.075430  3.800765  2.034615  3.262563
IQR       0.393840  0.395211   0.394863  0.400636  0.401480  0.394686

                 6          7         8         9
Mean      1.134473   1.134897  1.132163  1.127914
Variance  0.194139   0.252649  0.201656  0.203653
Skewness  3.069845  17.291176  3.865756  1.933971
IQR       0.395648   0.394751  0.398909  0.399198  ,                  0         1         2         3         4         5  \
Mean     -0.061992 -0.062582 -0.063320 -0.063758 -0.063898 -0.063631
Variance  0.095019  0.090907  0.087854  0.084472  0.082247  0.082660
Skewness  0.430180  0.507694  0.463911  0.369834  0.334248  0.336067
IQR       0.466380  0.466607  0.465176  0.464518  0.463661  0.463822

                 6         7         8         9
Mean     -0.063107 -0.063458 -0.063480 -0.062903
Variance  0.087018  0.089097  0.091808  0.094658
Skewness  0.942089  0.257055  0.083016  0.242909
IQR       0.464597  0.465447  0.466111  0.466608  ,                  0         1         2         3         4         5  \
Mean     -2.657974 -2.674827 -2.693327 -2.708393 -2.718271 -2.718899
Variance  1.184379  1.088161  1.104647  1.062525  1.106568  1.081536
Skewness -4.295701 -3.718343 -4.398433 -4.244643 -4.915906 -5.069210
IQR       0.319745  0.318743  0.297278  0.295880  0.267417  0.257093

                 6         7         8         9
Mean     -2.708760 -2.700708 -2.687227 -2.670399
Variance  1.020824  1.091544  1.094759  1.157210
Skewness -4.207487 -4.493587 -3.997883 -4.439276
IQR       0.256608  0.283070  0.307346  0.311083  ,                  0         1         2         3         4         5  \
Mean     -0.979509 -0.980238 -0.980886 -0.980874 -0.980438 -0.980117
Variance  0.107522  0.099071  0.095518  0.094075  0.091539  0.089665
Skewness -1.445671 -1.150178 -0.992135 -0.819991 -0.880983 -0.751582
IQR       0.288625  0.288086  0.285468  0.284949  0.286320  0.287638

                 6         7         8         9
Mean     -0.980009 -0.979555 -0.978970 -0.978151
Variance  0.090631  0.094722  0.102601  0.112417
Skewness -0.770735 -0.855935 -1.139729 -1.886612
IQR       0.287383  0.285470  0.285645  0.288444  ,                  0         1          2         3         4         5  \
Mean      0.718694  0.719634   0.721359  0.721406  0.721380  0.720992
Variance  0.113698  0.112626   0.148943  0.114720  0.112290  0.109797
Skewness -0.032710  0.013165  23.181856  1.156039  0.048939  0.136942
IQR       0.479960  0.479251   0.480411  0.480343  0.480655  0.479824

                 6          7         8         9
Mean      0.720877   0.721118  0.719970  0.718973
Variance  0.109901   0.147863  0.114696  0.114526
Skewness  0.169430  23.320333  0.873788 -0.120624
IQR       0.479155   0.480408  0.480412  0.480687  ,                  0         1         2         3         4         5  \
Mean     -0.751150 -0.751951 -0.751988 -0.752695 -0.753365 -0.753064
Variance  0.220358  0.216602  0.214911  0.212812  0.212265  0.213524
Skewness  0.128137  0.091782  0.096610  0.096479  0.087259  0.130952
IQR       0.843501  0.838953  0.835618  0.835261  0.834954  0.840905

                 6         7         8         9
Mean     -0.753058 -0.751614 -0.751360 -0.751438
Variance  0.213902  0.217465  0.220514  0.222484
Skewness  0.096355  0.282975  0.351579  0.199312
IQR       0.834911  0.835784  0.838026  0.838940  ,                  0         1         2         3         4         5  \
Mean     -2.790086 -2.795912 -2.798685 -2.803395 -2.805007 -2.804575
Variance  0.364182  0.352738  0.344532  0.337768  0.333034  0.333737
Skewness  0.215834  0.213802  0.262522  0.180989  0.008663  0.020658
IQR       0.972588  0.970727  0.981149  0.962599  0.944355  0.960668

                 6         7         8         9
Mean     -2.803386 -2.799748 -2.797266 -2.791116
Variance  0.337727  0.343660  0.351189  0.362515
Skewness  0.128206  0.267128  0.254809  0.169545
IQR       0.962682  0.978971  0.972196  0.995261  ,                  0         1         2         3         4         5  \
Mean     -0.006752 -0.007028 -0.007469 -0.008315 -0.009309 -0.008938
Variance  0.240263  0.206993  0.179020  0.158831  0.149778  0.148792
Skewness  0.362112  0.465716  0.475806  0.364988  0.168798  0.167070
IQR       0.128357  0.129037  0.128208  0.128373  0.128023  0.128227

                 6         7         8         9
Mean     -0.008775 -0.008505 -0.008400 -0.008319
Variance  0.156693  0.173760  0.198301  0.226383
Skewness  0.296442  0.081142 -0.030061  0.124259
IQR       0.129005  0.128217  0.128453  0.128139  ,                  0         1         2         3         4         5  \
Mean      3.248398  3.453051  3.626691  3.750444  3.814024  3.817792
Variance  6.727998  6.177083  5.707378  5.353111  5.005083  4.865687
Skewness  1.178130  1.487189  1.816508  2.089992  2.234320  2.218048
IQR       2.561514  2.405296  2.222418  2.172695  2.117182  2.117831

                 6         7         8         9
Mean      3.765964  3.659585  3.497679  3.296743
Variance  5.096953  5.741608  6.510760  7.116252
Skewness  2.099966  1.695517  1.329141  1.073659
IQR       2.129477  2.157649  2.386658  2.547977  ,                  0         1         2         3         4         5  \
Mean     -3.136719 -3.329074 -3.486686 -3.591672 -3.644271 -3.638731
Variance  7.027050  6.271671  5.785304  5.491590  5.337217  5.333834
Skewness -1.453251 -1.930568 -2.229506 -2.435627 -2.569925 -2.583991
IQR       2.292079  2.211742  2.142076  2.040690  1.880026  1.947463

                 6         7         8         9
Mean     -3.579444 -3.473626 -3.318500 -3.139062
Variance  5.492598  5.818844  6.374076  7.084840
Skewness -2.444189 -2.200972 -1.844913 -1.542715
IQR       2.049483  2.123506  2.285081  2.399601  ,                  0         1         2         3         4         5  \
Mean     -0.000589 -0.000005 -0.000273 -0.000429 -0.000448 -0.000552
Variance  0.177976  0.168751  0.155457  0.148971  0.146254  0.145833
Skewness  0.584516 -0.285809  0.759598  0.695551  0.657454  0.651802
IQR       0.156665  0.156106  0.156643  0.157026  0.157948  0.156651

                 6         7         8         9
Mean      0.000213 -0.000321 -0.000618 -0.000665
Variance  0.148280  0.154177  0.162577  0.173881
Skewness  0.637926  0.658634  0.723895  0.724496
IQR       0.156102  0.156603  0.157021  0.157929  ,                  0         1         2         3         4         5  \
Mean     -4.072603 -4.142860 -4.198030 -4.234507 -4.252949 -4.254351
Variance  6.144905  5.918346  5.679390  5.543244  5.429773  5.394213
Skewness -2.185806 -2.350106 -2.504990 -2.603830 -2.675440 -2.650274
IQR       2.399010  2.343886  2.374887  2.363618  2.304995  2.250074

                 6         7         8         9
Mean     -4.238630 -4.195979 -4.135989 -4.058686
Variance  5.501214  5.698925  6.028303  6.366615
Skewness -2.619083 -2.477173 -2.253915 -2.036640
IQR       2.272895  2.385263  2.459844  2.460375  ,                  0         1         2         3         4         5  \
Mean      4.479679  4.565089  4.631676  4.693423  4.707206  4.680340
Variance  7.113500  6.815761  6.469466  6.886683  6.379130  6.411098
Skewness  1.623264  1.767637  1.854234  2.698482  2.182052  1.704125
IQR       3.046573  2.886969  2.763043  2.667042  2.784363  2.889708

                 6         7         8         9
Mean      4.660049  4.635445  4.598878  4.509226
Variance  6.775577  6.516736  7.313507  7.266953
Skewness  1.252733  1.794356  2.475507  1.805083
IQR       2.814661  2.773321  2.765345  2.917765  ,                  0         1         2         3         4         5  \
Mean     -0.001695 -0.001396 -0.001336 -0.001913 -0.002356 -0.001828
Variance  0.196728  0.185337  0.174047  0.168187  0.165116  0.163685
Skewness  0.561667  0.550261  0.456905  0.111799  0.027550  0.369161
IQR       0.098780  0.098408  0.098113  0.099013  0.098322  0.098764

                 6         7         8         9
Mean     -0.001517 -0.001387 -0.001415 -0.001648
Variance  0.168211  0.174395  0.182680  0.193053
Skewness  0.463256  0.430397  0.461505  0.506638
IQR       0.098415  0.098111  0.099021  0.098330  ,                  0         1         2         3         4         5  \
Mean     -5.311472 -5.407008 -5.482612 -5.536739 -5.564287 -5.568095
Variance  9.131201  8.539002  8.113453  7.880313  7.770202  7.747716
Skewness -1.196752 -1.347158 -1.465151 -1.533491 -1.577623 -1.574295
IQR       3.695796  3.622492  3.344968  3.289642  3.325028  3.315273

                 6         7         8         9
Mean     -5.533282 -5.470304 -5.421911 -5.329487
Variance  7.889226  8.218524  8.606692  9.178054
Skewness -1.516445 -1.420659 -1.322165 -1.197699
IQR       3.433392  3.302255  3.428839  3.617432  ,                  0         1         2         3         4         5  \
Mean      5.605047  5.712925  5.804916  5.868600  5.888370  5.882834
Variance  9.915359  9.346225  8.885519  8.561212  8.349546  8.468219
Skewness  1.149520  1.283486  1.428776  1.541659  1.560356  1.455635
IQR       4.065376  4.052698  3.968235  3.872058  3.808321  3.785085

                 6         7         8          9
Mean      5.854893  5.798059  5.703707   5.580870
Variance  8.607020  8.964597  9.620855  10.366661
Skewness  1.443737  1.395315  1.229915   0.990535
IQR       3.868812  3.958452  4.019927   4.077950  ]

pandas.core.frame.DataFrame

In [22]:
allvalues1 = []
for i in range(len(allvalues)):
    aa = pd.DataFrame(allvalues[i].stack().to_frame().values).T
    allvalues1.append(aa)
allvalues1

[         0         1         2         3         4        5         6   \
 0  1.274679  1.275477  1.275563  1.275532  1.275592  1.27557  1.275712

          7         8         9   ...        30        31        32        33  \
 0  1.275572  1.275309  1.274983  ...  0.198075  0.198303  0.198435  0.198209

          34        35        36        37       38        39
 0  0.198316  0.198074  0.198302  0.198391  0.19821  0.198302

 [1 rows x 40 columns],
          0         1        2        3       4         5        6        7   \
 0  0.036291  0.036255  0.03666  0.03584  0.0364  0.036833  0.03675  0.03635

          8         9   ...        30       31        32        33        34  \
 0  0.036083  0.036253  ...  0.232987  0.23298  0.231496  0.232412  0.231969

          35        36        37        38        39
 0  0.232821  0.232699  0.231499  0.232412  0.231962

 [1 rows x 40 columns],
          0         1         2         3         4         5         6   \
 0 -1.206496 -1.207024 -1.207074 -1.207283 -1.207675 -1.207939 -1.207809

          7         8         9   ...        30        31        32        33  \
 0 -1.206691 -1.207352 -1.206923  ...  0.451769  0.449797  0.451204  0.451743

         34        35        36        37        38        39
 0  0.45187  0.451751  0.449844  0.451204  0.451743  0.451915

 [1 rows x 40 columns],
         0         1         2         3         4         5         6   \
 0  1.12682  1.130686  1.135059  1.136076  1.135669  1.135371  1.134473

          7         8         9   ...       30        31        32        33  \
 0  1.134897  1.132163  1.127914  ...  0.39384  0.395211  0.394863  0.400636

         34        35        36        37        38        39
 0  0.40148  0.394686  0.395648  0.394751  0.398909  0.399198

 [1 rows x 40 columns],
          0         1        2         3         4         5         6   \
 0 -0.061992 -0.062582 -0.06332 -0.063758 -0.063898 -0.063631 -0.063107

          7        8         9   ...       30        31        32        33  \
 0 -0.063458 -0.06348 -0.062903  ...  0.46638  0.466607  0.465176  0.464518

          34        35        36        37        38        39
 0  0.463661  0.463822  0.464597  0.465447  0.466111  0.466608

 [1 rows x 40 columns],
          0         1         2         3         4         5        6   \
 0 -2.657974 -2.674827 -2.693327 -2.708393 -2.718271 -2.718899 -2.70876

          7         8         9   ...        30        31        32       33  \
 0 -2.700708 -2.687227 -2.670399  ...  0.319745  0.318743  0.297278  0.29588

          34        35        36       37        38        39
 0  0.267417  0.257093  0.256608  0.28307  0.307346  0.311083

 [1 rows x 40 columns],
          0         1         2         3         4         5         6   \
 0 -0.979509 -0.980238 -0.980886 -0.980874 -0.980438 -0.980117 -0.980009

          7        8         9   ...        30        31        32        33  \
 0 -0.979555 -0.97897 -0.978151  ...  0.288625  0.288086  0.285468  0.284949

         34        35        36       37        38        39
 0  0.28632  0.287638  0.287383  0.28547  0.285645  0.288444

 [1 rows x 40 columns],
          0         1         2         3        4         5         6   \
 0  0.718694  0.719634  0.721359  0.721406  0.72138  0.720992  0.720877

          7        8         9   ...       30        31        32        33  \
 0  0.721118  0.71997  0.718973  ...  0.47996  0.479251  0.480411  0.480343

          34        35        36        37        38        39
 0  0.480655  0.479824  0.479155  0.480408  0.480412  0.480687

 [1 rows x 40 columns],
         0         1         2         3         4         5         6   \
 0 -0.75115 -0.751951 -0.751988 -0.752695 -0.753365 -0.753064 -0.753058

          7        8         9   ...        30        31        32        33  \
 0 -0.751614 -0.75136 -0.751438  ...  0.843501  0.838953  0.835618  0.835261

          34        35        36        37        38       39
 0  0.834954  0.840905  0.834911  0.835784  0.838026  0.83894

 [1 rows x 40 columns],
          0         1         2         3         4         5         6   \
 0 -2.790086 -2.795912 -2.798685 -2.803395 -2.805007 -2.804575 -2.803386

          7         8         9   ...        30        31        32        33  \
 0 -2.799748 -2.797266 -2.791116  ...  0.972588  0.970727  0.981149  0.962599

          34        35        36        37        38        39
 0  0.944355  0.960668  0.962682  0.978971  0.972196  0.995261

 [1 rows x 40 columns],
          0         1         2         3         4         5         6   \
 0 -0.006752 -0.007028 -0.007469 -0.008315 -0.009309 -0.008938 -0.008775

          7       8         9   ...        30        31        32        33  \
 0 -0.008505 -0.0084 -0.008319  ...  0.128357  0.129037  0.128208  0.128373

          34        35        36        37        38        39
 0  0.128023  0.128227  0.129005  0.128217  0.128453  0.128139

 [1 rows x 40 columns],
          0         1         2         3         4         5         6   \
 0  3.248398  3.453051  3.626691  3.750444  3.814024  3.817792  3.765964

          7         8         9   ...        30        31        32        33  \
 0  3.659585  3.497679  3.296743  ...  2.561514  2.405296  2.222418  2.172695

          34        35        36        37        38        39
 0  2.117182  2.117831  2.129477  2.157649  2.386658  2.547977

 [1 rows x 40 columns],
          0         1         2         3         4         5         6   \
 0 -3.136719 -3.329074 -3.486686 -3.591672 -3.644271 -3.638731 -3.579444

          7       8         9   ...        30        31        32       33  \
 0 -3.473626 -3.3185 -3.139062  ...  2.292079  2.211742  2.142076  2.04069

          34        35        36        37        38        39
 0  1.880026  1.947463  2.049483  2.123506  2.285081  2.399601

 [1 rows x 40 columns],
          0         1         2         3         4         5         6   \
 0 -0.000589 -0.000005 -0.000273 -0.000429 -0.000448 -0.000552  0.000213

          7         8         9   ...        30        31        32        33  \
 0 -0.000321 -0.000618 -0.000665  ...  0.156665  0.156106  0.156643  0.157026

          34        35        36        37        38        39
 0  0.157948  0.156651  0.156102  0.156603  0.157021  0.157929

 [1 rows x 40 columns],
          0        1        2         3         4         5        6   \
 0 -4.072603 -4.14286 -4.19803 -4.234507 -4.252949 -4.254351 -4.23863

          7         8         9   ...       30        31        32        33  \
 0 -4.195979 -4.135989 -4.058686  ...  2.39901  2.343886  2.374887  2.363618

          34        35        36        37        38        39
 0  2.304995  2.250074  2.272895  2.385263  2.459844  2.460375

 [1 rows x 40 columns],
          0         1         2         3         4        5         6   \
 0  4.479679  4.565089  4.631676  4.693423  4.707206  4.68034  4.660049

          7         8         9   ...        30        31        32        33  \
 0  4.635445  4.598878  4.509226  ...  3.046573  2.886969  2.763043  2.667042

          34        35        36        37        38        39
 0  2.784363  2.889708  2.814661  2.773321  2.765345  2.917765

 [1 rows x 40 columns],
          0         1         2         3         4         5         6   \
 0 -0.001695 -0.001396 -0.001336 -0.001913 -0.002356 -0.001828 -0.001517

          7         8         9   ...       30        31        32        33  \
 0 -0.001387 -0.001415 -0.001648  ...  0.09878  0.098408  0.098113  0.099013

          34        35        36        37        38       39
 0  0.098322  0.098764  0.098415  0.098111  0.099021  0.09833

 [1 rows x 40 columns],
          0         1         2         3         4         5         6   \
 0 -5.311472 -5.407008 -5.482612 -5.536739 -5.564287 -5.568095 -5.533282

          7         8         9   ...        30        31        32        33  \
 0 -5.470304 -5.421911 -5.329487  ...  3.695796  3.622492  3.344968  3.289642

          34        35        36        37        38        39
 0  3.325028  3.315273  3.433392  3.302255  3.428839  3.617432

 [1 rows x 40 columns],
          0         1         2       3        4         5         6   \
 0  5.605047  5.712925  5.804916  5.8686  5.88837  5.882834  5.854893

          7         8        9   ...        30        31        32        33  \
 0  5.798059  5.703707  5.58087  ...  4.065376  4.052698  3.968235  3.872058

          34        35        36        37        38       39
 0  3.808321  3.785085  3.868812  3.958452  4.019927  4.07795

 [1 rows x 40 columns]]

In [23]:
embeddings_filepath = os.getcwd() + f'/../data/sub_sequence_output/word_embeddings_from_clusters.txt'
pd.concat(allvalues1).to_csv(embeddings_filepath, index=False, header= False)

In [24]:
doc_df.drop_duplicates(keep=False, inplace=True)
doc_df

       activityID    X1    Y1    Z1    X2    Y2    Z2
179             1  X1_B  Y1_B  Z1_B  X2_C  Y2_B  Z2_A
180             1  X1_B  Y1_B  Z1_B  X2_C  Y2_B  Z2_B
188             1  X1_C  Y1_D  Z1_B  X2_C  Y2_B  Z2_B
192             1  X1_C  Y1_C  Z1_B  X2_C  Y2_A  Z2_B
206             1  X1_C  Y1_D  Z1_A  X2_B  Y2_A  Z2_C
...           ...   ...   ...   ...   ...   ...   ...
55312           3  X1_A  Y1_C  Z1_A  X2_C  Y2_A  Z2_A
55406           3  X1_A  Y1_D  Z1_B  X2_B  Y2_A  Z2_A
55407           3  X1_A  Y1_B  Z1_B  X2_B  Y2_A  Z2_A
55433           3  X1_B  Y1_B  Z1_B  X2_A  Y2_A  Z2_B
56523           3  X1_A  Y1_C  Z1_B  X2_C  Y2_B  Z2_C

[344 rows x 7 columns]

In [25]:
# _combine individual words as documents
doc_df['final_sub_sequence'] = doc_df[col_names[2:]].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
doc_df

,activityID,X1,Y1,Z1,X2,Y2,Z2,final_sub_sequence
179,1,X1_B,Y1_B,Z1_B,X2_C,Y2_B,Z2_A,X1_B Y1_B Z1_B X2_C Y2_B Z2_A
180,1,X1_B,Y1_B,Z1_B,X2_C,Y2_B,Z2_B,X1_B Y1_B Z1_B X2_C Y2_B Z2_B
188,1,X1_C,Y1_D,Z1_B,X2_C,Y2_B,Z2_B,X1_C Y1_D Z1_B X2_C Y2_B Z2_B
192,1,X1_C,Y1_C,Z1_B,X2_C,Y2_A,Z2_B,X1_C Y1_C Z1_B X2_C Y2_A Z2_B
206,1,X1_C,Y1_D,Z1_A,X2_B,Y2_A,Z2_C,X1_C Y1_D Z1_A X2_B Y2_A Z2_C
...,...,...,...,...,...,...,...,...
55312,3,X1_A,Y1_C,Z1_A,X2_C,Y2_A,Z2_A,X1_A Y1_C Z1_A X2_C Y2_A Z2_A
55406,3,X1_A,Y1_D,Z1_B,X2_B,Y2_A,Z2_A,X1_A Y1_D Z1_B X2_B Y2_A Z2_A
55407,3,X1_A,Y1_B,Z1_B,X2_B,Y2_A,Z2_A,X1_A Y1_B Z1_B X2_B Y2_A Z2_A
55433,3,X1_B,Y1_B,Z1_B,X2_A,Y2_A,Z2_B,X1_B Y1_B Z1_B X2_A Y2_A Z2_B
56523,3,X1_A,Y1_C,Z1_B,X2_C,Y2_B,Z2_C,X1_A Y1_C Z1_B X2_C Y2_B Z2_C

In [26]:
# _save the combined values to text files
for activity in doc_df['activityID'].unique():
    output_filepath = os.getcwd() + f'/../data/sub_sequence_output/activity_subseq_' + str(activity) + '.txt'
    doc_df.loc[doc_df['activityID'] == activity][['final_sub_sequence']].to_csv(output_filepath, sep='\t', index=False, header= False)