In [1]:
# _importing required libraries
import os
import collections

import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# _initializing constant variables
input_file_path = os.getcwd() + f'/../data/processed_data.csv'
col_names = ['timestamp (s)', 'activityID', 'X1', 'Y1', 'Z1', 'X2', 'Y2', 'Z2']

In [3]:
# _loading preprocessed data to main dataframe
main_df = pd.read_csv(input_file_path, header=None, names=col_names)
main_df

,timestamp (s),activityID,X1,Y1,Z1,X2,Y2,Z2
0,37.66,1,2.21530,8.27915,5.58753,-0.004750,0.037579,-0.011145
1,37.67,1,2.29196,7.67288,5.74467,-0.171710,0.025479,-0.009538
2,37.68,1,2.29090,7.14240,5.82342,-0.238241,0.011214,0.000831
3,37.69,1,2.21800,7.14365,5.89930,-0.192912,0.019053,0.013374
4,37.70,1,2.30106,7.25857,6.09259,-0.069961,-0.018328,0.004582
...,...,...,...,...,...,...,...,...
288214,974.50,3,-1.99794,3.94300,9.15686,-0.112651,-0.003501,-0.066523
288215,974.51,3,-2.00276,4.20689,8.96346,-0.179092,0.020300,-0.010637
288216,974.52,3,-1.96042,4.09413,9.11842,-0.285215,0.010714,-0.017346
288217,974.53,3,-1.97860,3.78659,8.65734,-0.347098,0.040476,-0.020536
288218,974.54,3,-2.13484,3.63499,8.54005,-0.369435,0.036868,0.014151

In [4]:
print(pd.Series(main_df['timestamp (s)']).is_unique)

#performing normalization for X1,Y1,Z1,X2,Y2,Z2

def normalization(X):   
        normalized_values=(main_df[X]-main_df[X].mean())/main_df[X].std()
        return normalized_values

False

In [5]:
normalization('X1')

0         0.554688
1         0.567517
2         0.567339
3         0.555140
4         0.569040
            ...
288214   -0.150352
288215   -0.151158
288216   -0.144073
288217   -0.147116
288218   -0.173261
Name: X1, Length: 288219, dtype: float64

# Generating subsequences for each sequence of the data

In [6]:
def elbow_techique(sub_sequence_data):
    
    # _only for manual testing
    distortions = []
    for k in range(1,10):
        kmeanModel = KMeans(n_clusters=k)
        kmeanModel.fit(sub_sequence_data)
        distortions.append(kmeanModel.inertia_)

    # _plot the distortions to observe the elbow point from the graph
    plt.figure(figsize=(16,8))
    plt.plot(K, distortions, 'bx-')
    plt.xlabel('k')
    plt.ylabel('Distortion')
    plt.title('The Elbow Method showing the optimal k')
    plt.show()

In [7]:
def get_cluster_ids(sub_sequence_data, cluster_cnt):
    
    # _passing random state as an argument to make Kmeans clustering deterministic
    kmeans_model = KMeans(n_clusters = cluster_cnt,random_state=1234)
    return kmeans_model.fit_predict(sub_sequence_data)

In [8]:
def get_assigned_words(seq_clusters, cluster_words):
    
    # _assign word to each cluster of the subsequence usnig numpy where function
    assigned_words = np.where(seq_clusters != 0, seq_clusters, cluster_words[0])
    for idx in range(1, len(cluster_words)):
         assigned_words = np.where(seq_clusters != idx, assigned_words, cluster_words[idx])
            
    return assigned_words

In [9]:
def generating_numbers(sequence_names):
    
    # _each word contains common prefix of subsequence and unique cluster alphabet
    alphabet = 'ABCDEFGHIJ'
    words_dict = {}
    
    for seq in sequence_names:
        prefix = seq
        words_dict[seq] = [prefix+'_'+alphabet[i] for i in range(len(alphabet))]
        
    return words_dict

In [10]:
# _initializing variables
window_length = 10
window_overlap = 5
max_window_index = len(main_df.index)
sequence_names = col_names[1:]
num_of_subsequences = len(sequence_names)
sub_sequences = [[] for x in range(num_of_subsequences)]

In [11]:
window_index = 0

while window_index <= (max_window_index - window_length):

    activity_sequence = main_df[sequence_names[0]][window_index:window_index+window_length].tolist()

    if len(set(activity_sequence)) == 1:
        sub_sequences[0].append(activity_sequence[0])
        
        for idx in range(1, num_of_subsequences):
            sub_sequences[idx].append(main_df[sequence_names[idx]][window_index:window_index+window_length].tolist())

    window_index += window_overlap

# _converting into numpy arrays
np_sequences = np.asarray(sub_sequences[1:])
print(np_sequences.shape)

(6, 57624, 10)

In [12]:
np_sequences

array([[[ 2.21530e+00,  2.29196e+00,  2.29090e+00, ...,  2.32815e+00,
          2.25096e+00,  2.14107e+00],
        [ 2.07165e+00,  2.41148e+00,  2.32815e+00, ...,  2.28661e+00,
          2.21585e+00,  2.24722e+00],
        [ 2.36727e+00,  2.43617e+00,  2.28661e+00, ...,  2.23039e+00,
          2.24697e+00,  2.14778e+00],
        ...,
        [-2.13404e+00, -2.20240e+00, -2.13324e+00, ..., -2.16862e+00,
         -2.06862e+00, -2.07183e+00],
        [-2.21443e+00, -2.13270e+00, -2.16862e+00, ..., -1.83386e+00,
         -1.79260e+00, -2.00730e+00],
        [-2.03003e+00, -1.75508e+00, -1.83386e+00, ..., -2.04108e+00,
         -2.14776e+00, -1.99794e+00]],

       [[ 8.27915e+00,  7.67288e+00,  7.14240e+00, ...,  7.63431e+00,
          7.78598e+00,  7.52262e+00],
        [ 7.25965e+00,  7.59780e+00,  7.63431e+00, ...,  7.67154e+00,
          7.59758e+00,  7.44419e+00],
        [ 7.63436e+00,  7.63210e+00,  7.67154e+00, ...,  6.94763e+00,
          6.83817e+00,  6.76686e+00],
        ...,
        [ 3.74881e+00,  4.01631e+00,  4.05199e+00, ...,  3.63629e+00,
          3.63206e+00,  3.74487e+00],
        [ 3.63457e+00,  3.55978e+00,  3.63629e+00, ...,  3.63232e+00,
          3.93588e+00,  3.94065e+00],
        [ 3.74558e+00,  3.89765e+00,  3.63232e+00, ...,  3.75258e+00,
          3.94450e+00,  3.94300e+00]],

       [[ 5.58753e+00,  5.74467e+00,  5.82342e+00, ...,  5.70686e+00,
          5.62821e+00,  5.78141e+00],
        [ 6.01218e+00,  5.93915e+00,  5.70686e+00, ...,  5.59065e+00,
          5.74378e+00,  5.59082e+00],
        [ 5.74593e+00,  5.55453e+00,  5.59065e+00, ...,  5.20737e+00,
          5.70833e+00,  6.13044e+00],
        ...,
        [ 8.53968e+00,  8.69170e+00,  8.50018e+00, ...,  8.65500e+00,
          8.27164e+00,  8.15575e+00],
        [ 8.42340e+00,  8.61731e+00,  8.65500e+00, ...,  8.50608e+00,
          8.54416e+00,  8.88732e+00],
        [ 8.27183e+00,  8.54485e+00,  8.50608e+00, ...,  9.04139e+00,
          9.19310e+00,  9.15686e+00]],

       [[-4.75004e-03, -1.71710e-01, -2.38241e-01, ...,  2.00328e-01,
          2.04098e-01,  1.71291e-01],
        [ 6.38951e-02,  1.90837e-01,  2.00328e-01, ..., -5.80762e-02,
         -1.87787e-01, -3.18051e-01],
        [ 9.97821e-02,  4.58215e-03, -5.80762e-02, ..., -5.46581e-01,
         -5.46750e-01, -3.33107e-01],
        ...,
        [ 1.21298e-01,  6.39621e-02,  3.51503e-02, ..., -1.42307e-02,
          2.33860e-02, -1.40249e-02],
        [-3.14645e-02, -2.25701e-02, -1.42307e-02, ...,  2.27871e-02,
          2.17881e-02, -2.83300e-02],
        [-1.45439e-02,  3.59054e-03,  2.27871e-02, ..., -8.50592e-02,
         -7.72939e-02, -1.12651e-01]],

       [[ 3.75788e-02,  2.54788e-02,  1.12136e-02, ..., -9.26579e-03,
         -6.82564e-02, -5.54110e-02],
        [ 7.17462e-03,  3.11615e-03, -9.26579e-03, ..., -1.51383e-02,
         -1.98241e-02,  9.63279e-03],
        [-3.85650e-02, -4.79050e-02, -1.51383e-02, ...,  4.64301e-02,
          2.57062e-02,  7.25278e-02],
        ...,
        [-9.59582e-02, -6.49537e-02, -8.05862e-02, ..., -2.02588e-02,
         -1.49317e-02,  3.50823e-03],
        [-9.24841e-02, -6.22582e-02, -2.02588e-02, ...,  8.98650e-03,
          2.29391e-02,  2.42020e-02],
        [ 8.50330e-04,  3.68688e-02,  8.98650e-03, ...,  7.29374e-02,
          1.40164e-02, -3.50146e-03]],

       [[-1.11450e-02, -9.53821e-03,  8.30722e-04, ...,  6.85673e-02,
          5.00003e-02,  2.15762e-02],
        [ 2.47007e-02,  3.87616e-02,  6.85673e-02, ..., -8.52970e-03,
         -4.52587e-03, -3.53578e-02],
        [ 1.11589e-02,  3.63531e-02, -8.52970e-03, ..., -1.00660e-01,
         -1.53974e-01, -1.09563e-01],
        ...,
        [-2.13300e-02, -4.28035e-02, -4.53556e-02, ..., -6.99566e-02,
         -8.26629e-02, -5.74883e-02],
        [-7.00064e-02, -4.13398e-02, -6.99566e-02, ..., -3.42695e-02,
         -7.31052e-02, -2.60900e-02],
        [-3.25129e-02, -1.18946e-02, -3.42695e-02, ..., -1.18880e-02,
         -6.04822e-02, -6.65231e-02]]])

In [13]:
# _document dataframe to store word assignments of each window
doc_df = pd.DataFrame(columns=col_names[1:])
doc_df['activityID'] = sub_sequences[0]
doc_df

       activityID   X1   Y1   Z1   X2   Y2   Z2
0               1  NaN  NaN  NaN  NaN  NaN  NaN
1               1  NaN  NaN  NaN  NaN  NaN  NaN
2               1  NaN  NaN  NaN  NaN  NaN  NaN
3               1  NaN  NaN  NaN  NaN  NaN  NaN
4               1  NaN  NaN  NaN  NaN  NaN  NaN
...           ...  ...  ...  ...  ...  ...  ...
57619           3  NaN  NaN  NaN  NaN  NaN  NaN
57620           3  NaN  NaN  NaN  NaN  NaN  NaN
57621           3  NaN  NaN  NaN  NaN  NaN  NaN
57622           3  NaN  NaN  NaN  NaN  NaN  NaN
57623           3  NaN  NaN  NaN  NaN  NaN  NaN

[57624 rows x 7 columns]

In [14]:
words_dict = generating_numbers(sequence_names[1:])
print(words_dict)
print()

# _after observing the clustering result with elbow method, we are manually choosing the n_clusters value.
# _testing: elbow_techique(np_sequences[0])
sequence_cluster_cnts = {'X1': 3, 'Y1': 4, 'Z1': 3, 'X2': 3, 'Y2': 3, 'Z2': 3}
print(sequence_cluster_cnts)

{'X1': ['X1_A', 'X1_B', 'X1_C', 'X1_D', 'X1_E', 'X1_F', 'X1_G', 'X1_H', 'X1_I', 'X1_J'], 'Y1': ['Y1_A', 'Y1_B', 'Y1_C', 'Y1_D', 'Y1_E', 'Y1_F', 'Y1_G', 'Y1_H', 'Y1_I', 'Y1_J'], 'Z1': ['Z1_A', 'Z1_B', 'Z1_C', 'Z1_D', 'Z1_E', 'Z1_F', 'Z1_G', 'Z1_H', 'Z1_I', 'Z1_J'], 'X2': ['X2_A', 'X2_B', 'X2_C', 'X2_D', 'X2_E', 'X2_F', 'X2_G', 'X2_H', 'X2_I', 'X2_J'], 'Y2': ['Y2_A', 'Y2_B', 'Y2_C', 'Y2_D', 'Y2_E', 'Y2_F', 'Y2_G', 'Y2_H', 'Y2_I', 'Y2_J'], 'Z2': ['Z2_A', 'Z2_B', 'Z2_C', 'Z2_D', 'Z2_E', 'Z2_F', 'Z2_G', 'Z2_H', 'Z2_I', 'Z2_J']}

{'X1': 3, 'Y1': 4, 'Z1': 3, 'X2': 3, 'Y2': 3, 'Z2': 3}

In [15]:
for idx, (seq, cluster_cnt) in enumerate(sequence_cluster_cnts.items()):
    
    # _perform k means clustering on subsequences
    seq_clusters = get_cluster_ids(np_sequences[idx], cluster_cnt)
    cluster_words = words_dict[seq][:cluster_cnt]
    
    print(f'{idx} -- {seq} -- {cluster_cnt} -- {cluster_words} -- {set(seq_clusters)}')
    
    # _get assigned words and fill the values in doc_df
    assigned_words = get_assigned_words(seq_clusters, cluster_words)
    doc_df[seq] = assigned_words

0 -- X1 -- 3 -- ['X1_A', 'X1_B', 'X1_C'] -- {0, 1, 2}
1 -- Y1 -- 4 -- ['Y1_A', 'Y1_B', 'Y1_C', 'Y1_D'] -- {0, 1, 2, 3}
2 -- Z1 -- 3 -- ['Z1_A', 'Z1_B', 'Z1_C'] -- {0, 1, 2}
3 -- X2 -- 3 -- ['X2_A', 'X2_B', 'X2_C'] -- {0, 1, 2}
4 -- Y2 -- 3 -- ['Y2_A', 'Y2_B', 'Y2_C'] -- {0, 1, 2}
5 -- Z2 -- 3 -- ['Z2_A', 'Z2_B', 'Z2_C'] -- {0, 1, 2}

doc_df

In [16]:
doc_df

       activityID    X1    Y1    Z1    X2    Y2    Z2
0               1  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
1               1  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
2               1  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
3               1  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
4               1  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
...           ...   ...   ...   ...   ...   ...   ...
57619           3  X1_A  Y1_A  Z1_A  X2_B  Y2_A  Z2_A
57620           3  X1_A  Y1_A  Z1_A  X2_B  Y2_A  Z2_A
57621           3  X1_A  Y1_B  Z1_A  X2_B  Y2_A  Z2_A
57622           3  X1_A  Y1_B  Z1_A  X2_B  Y2_A  Z2_A
57623           3  X1_A  Y1_A  Z1_A  X2_B  Y2_A  Z2_A

[57624 rows x 7 columns]

# Finding the statistics of the clusters(mean,variance,skewness)

In [17]:
def clust_subseq(X,i):
    d1=pd.DataFrame(doc_df[X])
    X1_df = pd.DataFrame(np_sequences[i])
    df=pd.concat([d1,X1_df],axis = 1)
    df.columns =['Col_1', 'Col_2','Col_3','Col_4','Col_5','Col_6','Col_7','Col_8','Col_9','Col_10','Col_11'] 
    return df

In [18]:

cluster_subseq =[]
di = {'X1':0,'Y1':1,'Z1':2,'X2':3,'Y2':4,'Z2':5}

for key,value in di.items():    
    last = clust_subseq(key,value)
    cluster_subseq.append(last)
print(cluster_subseq)

[      Col_1    Col_2    Col_3    Col_4    Col_5    Col_6    Col_7    Col_8  \
0      X1_A  2.21530  2.29196  2.29090  2.21800  2.30106  2.07165  2.41148
1      X1_A  2.07165  2.41148  2.32815  2.25096  2.14107  2.36727  2.43617
2      X1_A  2.36727  2.43617  2.28661  2.21585  2.24722  2.24615  2.13466
3      X1_A  2.24615  2.13466  2.23039  2.24697  2.14778  2.11880  2.26540
4      X1_A  2.11880  2.26540  2.16379  2.15630  2.38759  2.26407  2.30000
...     ...      ...      ...      ...      ...      ...      ...      ...
57619  X1_A -1.88180 -2.02226 -2.34660 -2.25873 -2.36997 -2.44341 -2.45196
57620  X1_A -2.44341 -2.45196 -2.22790 -2.22763 -2.23511 -2.13404 -2.20240
57621  X1_A -2.13404 -2.20240 -2.13324 -2.13378 -2.21363 -2.21443 -2.13270
57622  X1_A -2.21443 -2.13270 -2.16862 -2.06862 -2.07183 -2.03003 -1.75508
57623  X1_A -2.03003 -1.75508 -1.83386 -1.79260 -2.00730 -1.97272 -2.12682

         Col_9   Col_10   Col_11
0      2.32815  2.25096  2.14107
1      2.28661  2.21585  2.24722
2      2.23039  2.24697  2.14778
3      2.16379  2.15630  2.38759
4      2.21613  2.21372  2.06309
...        ...      ...      ...
57619 -2.22790 -2.22763 -2.23511
57620 -2.13324 -2.13378 -2.21363
57621 -2.16862 -2.06862 -2.07183
57622 -1.83386 -1.79260 -2.00730
57623 -2.04108 -2.14776 -1.99794

[57624 rows x 11 columns],       Col_1    Col_2    Col_3    Col_4    Col_5    Col_6    Col_7    Col_8  \
0      Y1_C  8.27915  7.67288  7.14240  7.14365  7.25857  7.25965  7.59780
1      Y1_C  7.25965  7.59780  7.63431  7.78598  7.52262  7.63436  7.63210
2      Y1_C  7.63436  7.63210  7.67154  7.59758  7.44419  7.48180  7.18017
3      Y1_C  7.48180  7.18017  6.94763  6.83817  6.76686  7.26170  7.75173
4      Y1_C  7.26170  7.75173  8.28577  8.35964  8.05605  7.37268  7.10681
...     ...      ...      ...      ...      ...      ...      ...      ...
57619  Y1_A  2.94836  2.95222  3.67837  4.28683  4.59122  4.51659  4.24934
57620  Y1_A  4.51659  4.24934  4.43628  4.28486  3.98000  3.74881  4.01631
57621  Y1_B  3.74881  4.01631  4.05199  3.97611  3.55902  3.63457  3.55978
57622  Y1_B  3.63457  3.55978  3.63629  3.63206  3.74487  3.74558  3.89765
57623  Y1_A  3.74558  3.89765  3.63232  3.93588  3.94065  3.86381  3.82636

         Col_9   Col_10   Col_11
0      7.63431  7.78598  7.52262
1      7.67154  7.59758  7.44419
2      6.94763  6.83817  6.76686
3      8.28577  8.35964  8.05605
4      6.87808  7.10471  7.37112
...        ...      ...      ...
57619  4.43628  4.28486  3.98000
57620  4.05199  3.97611  3.55902
57621  3.63629  3.63206  3.74487
57622  3.63232  3.93588  3.94065
57623  3.75258  3.94450  3.94300

[57624 rows x 11 columns],       Col_1    Col_2    Col_3    Col_4    Col_5    Col_6    Col_7    Col_8  \
0      Z1_A  5.58753  5.74467  5.82342  5.89930  6.09259  6.01218  5.93915
1      Z1_A  6.01218  5.93915  5.70686  5.62821  5.78141  5.74593  5.55453
2      Z1_A  5.74593  5.55453  5.59065  5.74378  5.59082  5.55219  5.66700
3      Z1_A  5.55219  5.66700  5.20737  5.70833  6.13044  6.28229  6.05191
4      Z1_A  6.28229  6.05191  6.27951  6.04822  6.24515  6.09165  6.09309
...     ...      ...      ...      ...      ...      ...      ...      ...
57619  Z1_A  8.35372  8.65950  8.96009  9.19028  9.18759  9.26371  9.07205
57620  Z1_A  9.26371  9.07205  8.95931  8.99832  8.84528  8.53968  8.69170
57621  Z1_A  8.53968  8.69170  8.50018  8.50043  8.46215  8.42340  8.61731
57622  Z1_A  8.42340  8.61731  8.65500  8.27164  8.15575  8.27183  8.54485
57623  Z1_A  8.27183  8.54485  8.50608  8.54416  8.88732  8.81112  8.73196

         Col_9   Col_10   Col_11
0      5.70686  5.62821  5.78141
1      5.59065  5.74378  5.59082
2      5.20737  5.70833  6.13044
3      6.27951  6.04822  6.24515
4      5.90017  5.78390  5.74226
...        ...      ...      ...
57619  8.95931  8.99832  8.84528
57620  8.50018  8.50043  8.46215
57621  8.65500  8.27164  8.15575
57622  8.50608  8.54416  8.88732
57623  9.04139  9.19310  9.15686

[57624 rows x 11 columns],       Col_1     Col_2     Col_3     Col_4     Col_5     Col_6     Col_7  \
0      X2_B -0.004750 -0.171710 -0.238241 -0.192912 -0.069961  0.063895
1      X2_B  0.063895  0.190837  0.200328  0.204098  0.171291  0.099782
2      X2_B  0.099782  0.004582 -0.058076 -0.187787 -0.318051 -0.431227
3      X2_B -0.431227 -0.501808 -0.546581 -0.546750 -0.333107 -0.077064
4      X2_B -0.077064  0.191691  0.293617  0.277165  0.176647  0.112768
...     ...       ...       ...       ...       ...       ...       ...
57619  X2_B  0.242393  0.268609  0.316754  0.386278  0.403215  0.351454
57620  X2_B  0.351454  0.320163  0.258421  0.238202  0.179791  0.121298
57621  X2_B  0.121298  0.063962  0.035150  0.027519 -0.017217 -0.031464
57622  X2_B -0.031464 -0.022570 -0.014231  0.023386 -0.014025 -0.014544
57623  X2_B -0.014544  0.003591  0.022787  0.021788 -0.028330 -0.047079

          Col_8     Col_9    Col_10    Col_11
0      0.190837  0.200328  0.204098  0.171291
1      0.004582 -0.058076 -0.187787 -0.318051
2     -0.501808 -0.546581 -0.546750 -0.333107
3      0.191691  0.293617  0.277165  0.176647
4      0.075692  0.133694  0.243267  0.309597
...         ...       ...       ...       ...
57619  0.320163  0.258421  0.238202  0.179791
57620  0.063962  0.035150  0.027519 -0.017217
57621 -0.022570 -0.014231  0.023386 -0.014025
57622  0.003591  0.022787  0.021788 -0.028330
57623 -0.055677 -0.085059 -0.077294 -0.112651

[57624 rows x 11 columns],       Col_1     Col_2     Col_3     Col_4     Col_5     Col_6     Col_7  \
0      Y2_A  0.037579  0.025479  0.011214  0.019053 -0.018328  0.007175
1      Y2_A  0.007175  0.003116 -0.009266 -0.068256 -0.055411 -0.038565
2      Y2_A -0.038565 -0.047905 -0.015138 -0.019824  0.009633  0.002685
3      Y2_A  0.002685  0.002804  0.046430  0.025706  0.072528  0.045968
4      Y2_A  0.045968  0.038023  0.001592 -0.002192 -0.078964 -0.015778
...     ...       ...       ...       ...       ...       ...       ...
57619  Y2_A  0.026001  0.048907  0.018621 -0.033180 -0.035335 -0.069441
57620  Y2_A -0.069441 -0.053103 -0.036851 -0.114077 -0.142125 -0.095958
57621  Y2_A -0.095958 -0.064954 -0.080586 -0.066375 -0.064255 -0.092484
57622  Y2_A -0.092484 -0.062258 -0.020259 -0.014932  0.003508  0.000850
57623  Y2_A  0.000850  0.036869  0.008986  0.022939  0.024202  0.020956

          Col_8     Col_9    Col_10    Col_11
0      0.003116 -0.009266 -0.068256 -0.055411
1     -0.047905 -0.015138 -0.019824  0.009633
2      0.002804  0.046430  0.025706  0.072528
3      0.038023  0.001592 -0.002192 -0.078964
4     -0.030792 -0.027909 -0.061323 -0.015604
...         ...       ...       ...       ...
57619 -0.053103 -0.036851 -0.114077 -0.142125
57620 -0.064954 -0.080586 -0.066375 -0.064255
57621 -0.062258 -0.020259 -0.014932  0.003508
57622  0.036869  0.008986  0.022939  0.024202
57623  0.045796  0.072937  0.014016 -0.003501

[57624 rows x 11 columns],       Col_1     Col_2     Col_3     Col_4     Col_5     Col_6     Col_7  \
0      Z2_A -0.011145 -0.009538  0.000831  0.013374  0.004582  0.024701
1      Z2_A  0.024701  0.038762  0.068567  0.050000  0.021576  0.011159
2      Z2_A  0.011159  0.036353 -0.008530 -0.004526 -0.035358 -0.062964
3      Z2_A -0.062964 -0.103990 -0.100660 -0.153974 -0.109563 -0.054434
4      Z2_A -0.054434 -0.059536 -0.020944 -0.026294 -0.016716  0.010393
...     ...       ...       ...       ...       ...       ...       ...
57619  Z2_A -0.162877 -0.197725 -0.174678 -0.126977 -0.064991  0.004258
57620  Z2_A  0.004258 -0.019856 -0.057740  0.004680 -0.004509 -0.021330
57621  Z2_A -0.021330 -0.042804 -0.045356 -0.010737 -0.056375 -0.070006
57622  Z2_A -0.070006 -0.041340 -0.069957 -0.082663 -0.057488 -0.032513
57623  Z2_A -0.032513 -0.011895 -0.034270 -0.073105 -0.026090 -0.040645

          Col_8     Col_9    Col_10    Col_11
0      0.038762  0.068567  0.050000  0.021576
1      0.036353 -0.008530 -0.004526 -0.035358
2     -0.103990 -0.100660 -0.153974 -0.109563
3     -0.059536 -0.020944 -0.026294 -0.016716
4      0.005246  0.011946  0.003942 -0.017948
...         ...       ...       ...       ...
57619 -0.019856 -0.057740  0.004680 -0.004509
57620 -0.042804 -0.045356 -0.010737 -0.056375
57621 -0.041340 -0.069957 -0.082663 -0.057488
57622 -0.011895 -0.034270 -0.073105 -0.026090
57623 -0.044133 -0.011888 -0.060482 -0.066523

[57624 rows x 11 columns]]

In [19]:
def clusterstatistics(Y,X):
    
    cluster_df = Y.loc[(Y['Col_1'] == X)] 
    
    Columns = ['Col_2','Col_3','Col_4','Col_5','Col_6','Col_7','Col_8','Col_9','Col_10','Col_11'] 
    Mean = []
    Variance = []
    Skewness = []

    for values in Columns:
        M = cluster_df [values].mean()
        V = cluster_df[values].var()
        S = cluster_df[values].skew()
        Mean.append(M)
        Variance.append(V)
        Skewness.append(S)
    
    stat_df=pd.DataFrame(Mean,columns=["Mean"])
    stat_df["Variance"]=Variance
    stat_df["Skewness"]=Skewness
    return  stat_df

In [20]:
statistic=[]
dic = {0:['X1_A', 'X1_B', 'X1_C'],
       1:['Y1_A', 'Y1_B', 'Y1_C', 'Y1_D'],
       2:['Z1_A', 'Z1_B', 'Z1_C'],
       3:['X2_A', 'X2_B', 'X2_C'],
       4:['Y2_A', 'Y2_B', 'Y2_C'],
       5:['Z2_A', 'Z2_B', 'Z2_C']
      }
for i in range(len(cluster_subseq)):
    cluster_names=dic[i]
    for j in range(len(cluster_names)):
        last1 = clusterstatistics(cluster_subseq[i],cluster_names[j])
        statistic.append(last1)
print(statistic)

[       Mean  Variance  Skewness
0 -0.851347  2.624622  0.004423
1 -0.850585  2.640056  0.295680
2 -0.851709  2.591998  0.076649
3 -0.852774  2.562560  0.011090
4 -0.851001  2.548295  0.028422
5 -0.850043  2.549296  0.027452
6 -0.851028  2.562067  0.040179
7 -0.851836  2.574836  0.029221
8 -0.852389  2.598835  0.014165
9 -0.851441  2.626608  0.023876,        Mean  Variance   Skewness
0 -8.475613  0.865696   0.423850
1 -8.478195  0.854038   0.034498
2 -8.474542  1.097363  17.436424
3 -8.482760  1.017682 -12.941729
4 -8.483910  0.918677  -5.718762
5 -8.482379  0.814175   0.005774
6 -8.479945  0.901088   3.055283
7 -8.473883  1.128625  17.415954
8 -8.479888  1.041167 -12.365160
9 -8.477197  0.970646  -4.936737,        Mean  Variance  Skewness
0  6.316558  1.902967 -0.500166
1  6.319447  1.884511 -0.473934
2  6.320733  1.868509 -0.472502
3  6.321930  1.863696 -0.451738
4  6.322995  1.860987 -0.419877
5  6.322123  1.863703 -0.435085
6  6.321976  1.868986 -0.446954
7  6.320320  1.873176 -0.480304
8  6.318538  1.887511 -0.489025
9  6.316633  1.905105 -0.494518,        Mean  Variance  Skewness
0  5.389773  0.984165  0.043016
1  5.393428  0.958463  0.345084
2  5.392839  0.921744  0.175881
3  5.393526  0.889983  0.136385
4  5.392609  0.873162  0.157478
5  5.391860  0.874181  0.150041
6  5.393283  0.903908  0.421440
7  5.391770  0.924766  0.146388
8  5.391528  0.955929  0.069971
9  5.389374  0.987954  0.090401,        Mean  Variance  Skewness
0  2.237874  1.275270 -0.643177
1  2.233800  1.227461 -0.597944
2  2.231303  1.205533 -0.601336
3  2.229440  1.194597 -0.616011
4  2.228540  1.185918 -0.659808
5  2.229065  1.177604 -0.623433
6  2.228909  1.187866 -0.620370
7  2.229474  1.209241 -0.639491
8  2.231492  1.245339 -0.710891
9  2.235233  1.295921 -0.937620,        Mean  Variance   Skewness
0  8.697684  1.426999   2.305318
1  8.711846  1.357279   2.426776
2  8.732613  1.896762  19.558807
3  8.736122  1.310879   3.743219
4  8.736017  1.305949   1.091075
5  8.736010  1.276961   3.223861
6  8.732468  1.271818   2.973722
7  8.735648  1.860783  20.290754
8  8.721734  1.314349   3.999966
9  8.704012  1.375655   1.038887,        Mean  Variance  Skewness
0 -2.864937  6.052641 -4.276758
1 -2.886268  5.777667 -4.073725
2 -2.912920  5.843401 -4.527444
3 -2.927052  5.668755 -4.373902
4 -2.930227  5.773140 -4.640868
5 -2.925525  5.768196 -4.710009
6 -2.909306  5.663084 -4.240574
7 -2.901107  5.950322 -4.350308
8 -2.886883  5.892815 -4.015573
9 -2.864840  6.022168 -4.146466,        Mean  Variance   Skewness
0  6.911153  1.545468   0.189123
1  6.913954  1.536944   0.199266
2  6.919041  1.839348  13.299801
3  6.919144  1.545430   0.738159
4  6.919095  1.528790   0.196224
5  6.917675  1.511051   0.273024
6  6.917533  1.510865   0.294584
7  6.917836  1.833715  13.300974
8  6.914488  1.552175   0.605591
9  6.911547  1.556292   0.104489,        Mean  Variance  Skewness
0  2.156222  2.092427 -0.460526
1  2.153794  2.053845 -0.494453
2  2.154223  2.032089 -0.492481
3  2.152396  2.009361 -0.478076
4  2.150441  2.004036 -0.478387
5  2.151518  2.016529 -0.449150
6  2.151331  2.020948 -0.471157
7  2.156177  2.056577 -0.326533
8  2.156807  2.083307 -0.271139
9  2.156648  2.104401 -0.383540,        Mean  Variance  Skewness
0 -5.989904  5.841360  0.362566
1 -6.009191  5.654180  0.347604
2 -6.024821  5.519156  0.347484
3 -6.044149  5.453164  0.298396
4 -6.050045  5.377846  0.235195
5 -6.048048  5.357281  0.224858
6 -6.043550  5.373897  0.262537
7 -6.030239  5.457337  0.306667
8 -6.020790  5.616807  0.316550
9 -5.998987  5.791702  0.341520,        Mean  Variance  Skewness
0 -1.531005  1.863947 -1.642362
1 -1.628973  1.669043 -2.146986
2 -1.708853  1.539690 -2.460680
3 -1.762179  1.465120 -2.640993
4 -1.789130  1.433928 -2.743872
5 -1.788096  1.441871 -2.752146
6 -1.757684  1.480760 -2.636861
7 -1.703328  1.555431 -2.414448
8 -1.624435  1.695074 -2.039929
9 -1.535244  1.877941 -1.728519,        Mean  Variance  Skewness
0 -0.002282  0.050555  0.167284
1 -0.002493  0.043773  0.280576
2 -0.002773  0.037971  0.298248
3 -0.003161  0.033668  0.200807
4 -0.003591  0.031728  0.014353
5 -0.003464  0.031485 -0.003490
6 -0.003329  0.033198  0.195221
7 -0.003187  0.036631  0.015126
8 -0.002993  0.041503 -0.089790
9 -0.002813  0.047018  0.067205,        Mean  Variance  Skewness
0  1.494988  1.625230  1.379664
1  1.595030  1.504043  1.692520
2  1.678706  1.401709  2.027574
3  1.738989  1.321017  2.290088
4  1.769429  1.243840  2.414218
5  1.771381  1.213672  2.388171
6  1.745263  1.267536  2.275229
7  1.693831  1.414454  1.899169
8  1.614056  1.590153  1.537064
9  1.516853  1.728349  1.271961,        Mean  Variance  Skewness
0  0.008870  0.016498  0.918038
1  0.009051  0.015695 -0.126659
2  0.008992  0.014423  1.153831
3  0.008946  0.013791  1.062667
4  0.008938  0.013542  1.011868
5  0.008900  0.013479  0.995746
6  0.009120  0.013693  0.986586
7  0.008967  0.014212  1.025294
8  0.008851  0.014966  1.104444
9  0.008828  0.015986  1.149931,        Mean  Variance  Skewness
0 -1.178799  0.573934 -2.316910
1 -1.199725  0.553586 -2.489369
2 -1.216190  0.533724 -2.634893
3 -1.227341  0.521862 -2.729493
4 -1.233139  0.511491 -2.800146
5 -1.233679  0.507049 -2.780302
6 -1.228925  0.516309 -2.754463
7 -1.216637  0.534619 -2.610727
8 -1.198131  0.565456 -2.382293
9 -1.175427  0.596125 -2.162204,        Mean  Variance  Skewness
0  1.430857  0.709609  1.544992
1  1.458876  0.680061  1.700617
2  1.481255  0.643602  1.775049
3  1.502906  0.696246  2.808750
4  1.507228  0.636076  2.155109
5  1.498750  0.636418  1.590310
6  1.491756  0.678944  1.073164
7  1.484531  0.646576  1.717565
8  1.473437  0.738362  2.582156
9  1.443130  0.726574  1.776597,        Mean  Variance  Skewness
0 -0.003169  0.032455  0.493910
1 -0.003143  0.030467  0.360345
2 -0.003151  0.028659  0.288166
3 -0.003429  0.027757 -0.164266
4 -0.003611  0.027212 -0.276275
5 -0.003442  0.026848  0.142178
6 -0.003355  0.027542  0.224816
7 -0.003330  0.028507  0.152961
8 -0.003379  0.029820  0.141694
9 -0.003460  0.031440  0.170770,        Mean  Variance  Skewness
0  2.262753  1.752617  1.188994
1  2.315066  1.645036  1.327948
2  2.355020  1.560787  1.482605
3  2.381970  1.503535  1.589334
4  2.391447  1.463828  1.617432
5  2.392505  1.474431  1.529086
6  2.384918  1.487788  1.538600
7  2.364565  1.542764  1.499051
8  2.327399  1.649011  1.328595
9  2.278104  1.773926  1.083843,        Mean  Variance  Skewness
0 -2.218342  1.621391 -1.320915
1 -2.258309  1.513836 -1.485918
2 -2.289497  1.440020 -1.610399
3 -2.311325  1.403923 -1.676872
4 -2.322837  1.388242 -1.717746
5 -2.324189  1.386125 -1.707236
6 -2.308582  1.411297 -1.642251
7 -2.280427  1.469494 -1.545079
8 -2.259337  1.543159 -1.444089
9 -2.219960  1.643971 -1.326798]

In [21]:
allvalues=[]
for i in range(len(statistic)):
    l=statistic[i].T
    allvalues.append(l)
print(allvalues)

type(allvalues[0])

[                 0         1         2         3         4         5  \
Mean     -0.851347 -0.850585 -0.851709 -0.852774 -0.851001 -0.850043
Variance  2.624622  2.640056  2.591998  2.562560  2.548295  2.549296
Skewness  0.004423  0.295680  0.076649  0.011090  0.028422  0.027452

                 6         7         8         9
Mean     -0.851028 -0.851836 -0.852389 -0.851441
Variance  2.562067  2.574836  2.598835  2.626608
Skewness  0.040179  0.029221  0.014165  0.023876  ,                  0         1          2          3         4         5  \
Mean     -8.475613 -8.478195  -8.474542  -8.482760 -8.483910 -8.482379
Variance  0.865696  0.854038   1.097363   1.017682  0.918677  0.814175
Skewness  0.423850  0.034498  17.436424 -12.941729 -5.718762  0.005774

                 6          7          8         9
Mean     -8.479945  -8.473883  -8.479888 -8.477197
Variance  0.901088   1.128625   1.041167  0.970646
Skewness  3.055283  17.415954 -12.365160 -4.936737  ,                  0         1         2         3         4         5  \
Mean      6.316558  6.319447  6.320733  6.321930  6.322995  6.322123
Variance  1.902967  1.884511  1.868509  1.863696  1.860987  1.863703
Skewness -0.500166 -0.473934 -0.472502 -0.451738 -0.419877 -0.435085

                 6         7         8         9
Mean      6.321976  6.320320  6.318538  6.316633
Variance  1.868986  1.873176  1.887511  1.905105
Skewness -0.446954 -0.480304 -0.489025 -0.494518  ,                  0         1         2         3         4         5  \
Mean      5.389773  5.393428  5.392839  5.393526  5.392609  5.391860
Variance  0.984165  0.958463  0.921744  0.889983  0.873162  0.874181
Skewness  0.043016  0.345084  0.175881  0.136385  0.157478  0.150041

                 6         7         8         9
Mean      5.393283  5.391770  5.391528  5.389374
Variance  0.903908  0.924766  0.955929  0.987954
Skewness  0.421440  0.146388  0.069971  0.090401  ,                  0         1         2         3         4         5  \
Mean      2.237874  2.233800  2.231303  2.229440  2.228540  2.229065
Variance  1.275270  1.227461  1.205533  1.194597  1.185918  1.177604
Skewness -0.643177 -0.597944 -0.601336 -0.616011 -0.659808 -0.623433

                 6         7         8         9
Mean      2.228909  2.229474  2.231492  2.235233
Variance  1.187866  1.209241  1.245339  1.295921
Skewness -0.620370 -0.639491 -0.710891 -0.937620  ,                  0         1          2         3         4         5  \
Mean      8.697684  8.711846   8.732613  8.736122  8.736017  8.736010
Variance  1.426999  1.357279   1.896762  1.310879  1.305949  1.276961
Skewness  2.305318  2.426776  19.558807  3.743219  1.091075  3.223861

                 6          7         8         9
Mean      8.732468   8.735648  8.721734  8.704012
Variance  1.271818   1.860783  1.314349  1.375655
Skewness  2.973722  20.290754  3.999966  1.038887  ,                  0         1         2         3         4         5  \
Mean     -2.864937 -2.886268 -2.912920 -2.927052 -2.930227 -2.925525
Variance  6.052641  5.777667  5.843401  5.668755  5.773140  5.768196
Skewness -4.276758 -4.073725 -4.527444 -4.373902 -4.640868 -4.710009

                 6         7         8         9
Mean     -2.909306 -2.901107 -2.886883 -2.864840
Variance  5.663084  5.950322  5.892815  6.022168
Skewness -4.240574 -4.350308 -4.015573 -4.146466  ,                  0         1          2         3         4         5  \
Mean      6.911153  6.913954   6.919041  6.919144  6.919095  6.917675
Variance  1.545468  1.536944   1.839348  1.545430  1.528790  1.511051
Skewness  0.189123  0.199266  13.299801  0.738159  0.196224  0.273024

                 6          7         8         9
Mean      6.917533   6.917836  6.914488  6.911547
Variance  1.510865   1.833715  1.552175  1.556292
Skewness  0.294584  13.300974  0.605591  0.104489  ,                  0         1         2         3         4         5  \
Mean      2.156222  2.153794  2.154223  2.152396  2.150441  2.151518
Variance  2.092427  2.053845  2.032089  2.009361  2.004036  2.016529
Skewness -0.460526 -0.494453 -0.492481 -0.478076 -0.478387 -0.449150

                 6         7         8         9
Mean      2.151331  2.156177  2.156807  2.156648
Variance  2.020948  2.056577  2.083307  2.104401
Skewness -0.471157 -0.326533 -0.271139 -0.383540  ,                  0         1         2         3         4         5  \
Mean     -5.989904 -6.009191 -6.024821 -6.044149 -6.050045 -6.048048
Variance  5.841360  5.654180  5.519156  5.453164  5.377846  5.357281
Skewness  0.362566  0.347604  0.347484  0.298396  0.235195  0.224858

                 6         7         8         9
Mean     -6.043550 -6.030239 -6.020790 -5.998987
Variance  5.373897  5.457337  5.616807  5.791702
Skewness  0.262537  0.306667  0.316550  0.341520  ,                  0         1         2         3         4         5  \
Mean     -1.531005 -1.628973 -1.708853 -1.762179 -1.789130 -1.788096
Variance  1.863947  1.669043  1.539690  1.465120  1.433928  1.441871
Skewness -1.642362 -2.146986 -2.460680 -2.640993 -2.743872 -2.752146

                 6         7         8         9
Mean     -1.757684 -1.703328 -1.624435 -1.535244
Variance  1.480760  1.555431  1.695074  1.877941
Skewness -2.636861 -2.414448 -2.039929 -1.728519  ,                  0         1         2         3         4         5  \
Mean     -0.002282 -0.002493 -0.002773 -0.003161 -0.003591 -0.003464
Variance  0.050555  0.043773  0.037971  0.033668  0.031728  0.031485
Skewness  0.167284  0.280576  0.298248  0.200807  0.014353 -0.003490

                 6         7         8         9
Mean     -0.003329 -0.003187 -0.002993 -0.002813
Variance  0.033198  0.036631  0.041503  0.047018
Skewness  0.195221  0.015126 -0.089790  0.067205  ,                  0         1         2         3         4         5  \
Mean      1.494988  1.595030  1.678706  1.738989  1.769429  1.771381
Variance  1.625230  1.504043  1.401709  1.321017  1.243840  1.213672
Skewness  1.379664  1.692520  2.027574  2.290088  2.414218  2.388171

                 6         7         8         9
Mean      1.745263  1.693831  1.614056  1.516853
Variance  1.267536  1.414454  1.590153  1.728349
Skewness  2.275229  1.899169  1.537064  1.271961  ,                  0         1         2         3         4         5  \
Mean      0.008870  0.009051  0.008992  0.008946  0.008938  0.008900
Variance  0.016498  0.015695  0.014423  0.013791  0.013542  0.013479
Skewness  0.918038 -0.126659  1.153831  1.062667  1.011868  0.995746

                 6         7         8         9
Mean      0.009120  0.008967  0.008851  0.008828
Variance  0.013693  0.014212  0.014966  0.015986
Skewness  0.986586  1.025294  1.104444  1.149931  ,                  0         1         2         3         4         5  \
Mean     -1.178799 -1.199725 -1.216190 -1.227341 -1.233139 -1.233679
Variance  0.573934  0.553586  0.533724  0.521862  0.511491  0.507049
Skewness -2.316910 -2.489369 -2.634893 -2.729493 -2.800146 -2.780302

                 6         7         8         9
Mean     -1.228925 -1.216637 -1.198131 -1.175427
Variance  0.516309  0.534619  0.565456  0.596125
Skewness -2.754463 -2.610727 -2.382293 -2.162204  ,                  0         1         2         3         4         5  \
Mean      1.430857  1.458876  1.481255  1.502906  1.507228  1.498750
Variance  0.709609  0.680061  0.643602  0.696246  0.636076  0.636418
Skewness  1.544992  1.700617  1.775049  2.808750  2.155109  1.590310

                 6         7         8         9
Mean      1.491756  1.484531  1.473437  1.443130
Variance  0.678944  0.646576  0.738362  0.726574
Skewness  1.073164  1.717565  2.582156  1.776597  ,                  0         1         2         3         4         5  \
Mean     -0.003169 -0.003143 -0.003151 -0.003429 -0.003611 -0.003442
Variance  0.032455  0.030467  0.028659  0.027757  0.027212  0.026848
Skewness  0.493910  0.360345  0.288166 -0.164266 -0.276275  0.142178

                 6         7         8        9
Mean     -0.003355 -0.003330 -0.003379 -0.00346
Variance  0.027542  0.028507  0.029820  0.03144
Skewness  0.224816  0.152961  0.141694  0.17077  ,                  0         1         2         3         4         5  \
Mean      2.262753  2.315066  2.355020  2.381970  2.391447  2.392505
Variance  1.752617  1.645036  1.560787  1.503535  1.463828  1.474431
Skewness  1.188994  1.327948  1.482605  1.589334  1.617432  1.529086

                 6         7         8         9
Mean      2.384918  2.364565  2.327399  2.278104
Variance  1.487788  1.542764  1.649011  1.773926
Skewness  1.538600  1.499051  1.328595  1.083843  ,                  0         1         2         3         4         5  \
Mean     -2.218342 -2.258309 -2.289497 -2.311325 -2.322837 -2.324189
Variance  1.621391  1.513836  1.440020  1.403923  1.388242  1.386125
Skewness -1.320915 -1.485918 -1.610399 -1.676872 -1.717746 -1.707236

                 6         7         8         9
Mean     -2.308582 -2.280427 -2.259337 -2.219960
Variance  1.411297  1.469494  1.543159  1.643971
Skewness -1.642251 -1.545079 -1.444089 -1.326798  ]

pandas.core.frame.DataFrame

In [23]:
allvalues1 = []
for i in range(len(allvalues)):
    aa = pd.DataFrame(allvalues[i].stack().to_frame().values).T
    allvalues1.append(aa)
allvalues1

[         0         1         2         3         4         5         6   \
 0 -0.851347 -0.850585 -0.851709 -0.852774 -0.851001 -0.850043 -0.851028

          7         8         9   ...        20       21        22       23  \
 0 -0.851836 -0.852389 -0.851441  ...  0.004423  0.29568  0.076649  0.01109

          24        25        26        27        28        29
 0  0.028422  0.027452  0.040179  0.029221  0.014165  0.023876

 [1 rows x 30 columns],
          0         1         2        3        4         5         6   \
 0 -8.475613 -8.478195 -8.474542 -8.48276 -8.48391 -8.482379 -8.479945

          7         8         9   ...       20        21         22         23  \
 0 -8.473883 -8.479888 -8.477197  ...  0.42385  0.034498  17.436424 -12.941729

          24        25        26         27        28        29
 0 -5.718762  0.005774  3.055283  17.415954 -12.36516 -4.936737

 [1 rows x 30 columns],
          0         1         2        3         4         5         6   \
 0  6.316558  6.319447  6.320733  6.32193  6.322995  6.322123  6.321976

         7         8         9   ...        20        21        22        23  \
 0  6.32032  6.318538  6.316633  ... -0.500166 -0.473934 -0.472502 -0.451738

          24        25        26        27        28        29
 0 -0.419877 -0.435085 -0.446954 -0.480304 -0.489025 -0.494518

 [1 rows x 30 columns],
          0         1         2         3         4        5         6   \
 0  5.389773  5.393428  5.392839  5.393526  5.392609  5.39186  5.393283

         7         8         9   ...        20        21        22        23  \
 0  5.39177  5.391528  5.389374  ...  0.043016  0.345084  0.175881  0.136385

          24        25       26        27        28        29
 0  0.157478  0.150041  0.42144  0.146388  0.069971  0.090401

 [1 rows x 30 columns],
          0       1         2        3        4         5         6         7   \
 0  2.237874  2.2338  2.231303  2.22944  2.22854  2.229065  2.228909  2.229474

          8         9   ...        20        21        22        23        24  \
 0  2.231492  2.235233  ... -0.643177 -0.597944 -0.601336 -0.616011 -0.659808

          25       26        27        28       29
 0 -0.623433 -0.62037 -0.639491 -0.710891 -0.93762

 [1 rows x 30 columns],
          0         1         2         3         4        5         6   \
 0  8.697684  8.711846  8.732613  8.736122  8.736017  8.73601  8.732468

          7         8         9   ...        20        21         22        23  \
 0  8.735648  8.721734  8.704012  ...  2.305318  2.426776  19.558807  3.743219

          24        25        26         27        28        29
 0  1.091075  3.223861  2.973722  20.290754  3.999966  1.038887

 [1 rows x 30 columns],
          0         1        2         3         4         5         6   \
 0 -2.864937 -2.886268 -2.91292 -2.927052 -2.930227 -2.925525 -2.909306

          7         8        9   ...        20        21        22        23  \
 0 -2.901107 -2.886883 -2.86484  ... -4.276758 -4.073725 -4.527444 -4.373902

          24        25        26        27        28        29
 0 -4.640868 -4.710009 -4.240574 -4.350308 -4.015573 -4.146466

 [1 rows x 30 columns],
          0         1         2         3         4         5         6   \
 0  6.911153  6.913954  6.919041  6.919144  6.919095  6.917675  6.917533

          7         8         9   ...        20        21         22        23  \
 0  6.917836  6.914488  6.911547  ...  0.189123  0.199266  13.299801  0.738159

          24        25        26         27        28        29
 0  0.196224  0.273024  0.294584  13.300974  0.605591  0.104489

 [1 rows x 30 columns],
          0         1         2         3         4         5         6   \
 0  2.156222  2.153794  2.154223  2.152396  2.150441  2.151518  2.151331

          7         8         9   ...        20        21        22        23  \
 0  2.156177  2.156807  2.156648  ... -0.460526 -0.494453 -0.492481 -0.478076

          24       25        26        27        28       29
 0 -0.478387 -0.44915 -0.471157 -0.326533 -0.271139 -0.38354

 [1 rows x 30 columns],
          0         1         2         3         4         5        6   \
 0 -5.989904 -6.009191 -6.024821 -6.044149 -6.050045 -6.048048 -6.04355

          7        8         9   ...        20        21        22        23  \
 0 -6.030239 -6.02079 -5.998987  ...  0.362566  0.347604  0.347484  0.298396

          24        25        26        27       28       29
 0  0.235195  0.224858  0.262537  0.306667  0.31655  0.34152

 [1 rows x 30 columns],
          0         1         2         3        4         5         6   \
 0 -1.531005 -1.628973 -1.708853 -1.762179 -1.78913 -1.788096 -1.757684

          7         8         9   ...        20        21       22        23  \
 0 -1.703328 -1.624435 -1.535244  ... -1.642362 -2.146986 -2.46068 -2.640993

          24        25        26        27        28        29
 0 -2.743872 -2.752146 -2.636861 -2.414448 -2.039929 -1.728519

 [1 rows x 30 columns],
          0         1         2         3         4         5         6   \
 0 -0.002282 -0.002493 -0.002773 -0.003161 -0.003591 -0.003464 -0.003329

          7         8         9   ...        20        21        22        23  \
 0 -0.003187 -0.002993 -0.002813  ...  0.167284  0.280576  0.298248  0.200807

          24       25        26        27       28        29
 0  0.014353 -0.00349  0.195221  0.015126 -0.08979  0.067205

 [1 rows x 30 columns],
          0        1         2         3         4         5         6   \
 0  1.494988  1.59503  1.678706  1.738989  1.769429  1.771381  1.745263

          7         8         9   ...        20       21        22        23  \
 0  1.693831  1.614056  1.516853  ...  1.379664  1.69252  2.027574  2.290088

          24        25        26        27        28        29
 0  2.414218  2.388171  2.275229  1.899169  1.537064  1.271961

 [1 rows x 30 columns],
         0         1         2         3         4       5        6         7   \
 0  0.00887  0.009051  0.008992  0.008946  0.008938  0.0089  0.00912  0.008967

          8         9   ...        20        21        22        23        24  \
 0  0.008851  0.008828  ...  0.918038 -0.126659  1.153831  1.062667  1.011868

          25        26        27        28        29
 0  0.995746  0.986586  1.025294  1.104444  1.149931

 [1 rows x 30 columns],
          0         1        2         3         4         5         6   \
 0 -1.178799 -1.199725 -1.21619 -1.227341 -1.233139 -1.233679 -1.228925

          7         8         9   ...       20        21        22        23  \
 0 -1.216637 -1.198131 -1.175427  ... -2.31691 -2.489369 -2.634893 -2.729493

          24        25        26        27        28        29
 0 -2.800146 -2.780302 -2.754463 -2.610727 -2.382293 -2.162204

 [1 rows x 30 columns],
          0         1         2         3         4        5         6   \
 0  1.430857  1.458876  1.481255  1.502906  1.507228  1.49875  1.491756

          7         8        9   ...        20        21        22       23  \
 0  1.484531  1.473437  1.44313  ...  1.544992  1.700617  1.775049  2.80875

          24       25        26        27        28        29
 0  2.155109  1.59031  1.073164  1.717565  2.582156  1.776597

 [1 rows x 30 columns],
          0         1         2         3         4         5         6   \
 0 -0.003169 -0.003143 -0.003151 -0.003429 -0.003611 -0.003442 -0.003355

         7         8        9   ...       20        21        22        23  \
 0 -0.00333 -0.003379 -0.00346  ...  0.49391  0.360345  0.288166 -0.164266

          24        25        26        27        28       29
 0 -0.276275  0.142178  0.224816  0.152961  0.141694  0.17077

 [1 rows x 30 columns],
          0         1        2        3         4         5         6   \
 0  2.262753  2.315066  2.35502  2.38197  2.391447  2.392505  2.384918

          7         8         9   ...        20        21        22        23  \
 0  2.364565  2.327399  2.278104  ...  1.188994  1.327948  1.482605  1.589334

          24        25      26        27        28        29
 0  1.617432  1.529086  1.5386  1.499051  1.328595  1.083843

 [1 rows x 30 columns],
          0         1         2         3         4         5         6   \
 0 -2.218342 -2.258309 -2.289497 -2.311325 -2.322837 -2.324189 -2.308582

          7         8        9   ...        20        21        22        23  \
 0 -2.280427 -2.259337 -2.21996  ... -1.320915 -1.485918 -1.610399 -1.676872

          24        25        26        27        28        29
 0 -1.717746 -1.707236 -1.642251 -1.545079 -1.444089 -1.326798

 [1 rows x 30 columns]]

In [24]:
embeddings_filepath = os.getcwd() + f'/../data/sub_sequence_output/word_embeddings_from_clusters.txt'
pd.concat(allvalues1).to_csv(embeddings_filepath, index=False, header= False)

In [ ]:
doc_df.drop_duplicates(keep=False, inplace=True)
doc_df

In [ ]:
# _combine individual words as documents
doc_df['final_sub_sequence'] = doc_df[col_names[2:]].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
doc_df

In [ ]:
# _save the combined values to text files
for activity in doc_df['activityID'].unique():
    output_filepath = os.getcwd() + f'/../data/sub_sequence_output/activity_subseq_' + str(activity) + '.txt'
    doc_df.loc[doc_df['activityID'] == activity][['final_sub_sequence']].to_csv(output_filepath, sep='\t', index=False, header= False)