In [2]:
# _importing required libraries
import os
import collections

import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# _initializing constant variables
input_file_path = os.getcwd() + f'/../../data/processed_data.csv'
subject101_file_path = os.getcwd() + f'/../../data/output_csv/subject101_processed.csv'
col_names = ['timestamp (s)', 'activityID', 'X1', 'Y1', 'Z1', 'X2', 'Y2', 'Z2']

In [4]:
# _loading preprocessed data to main dataframe
main_df = pd.read_csv(input_file_path, header=None, names=col_names)
main_df

/home/praveen/.local/share/virtualenvs/Human_Activity_Recognition-8gA5e_Fl/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,timestamp (s),activityID,X1,Y1,Z1,X2,Y2,Z2
0,37.66,1,2.21530,8.27915,5.58753,-0.004750,0.037579,-0.011145
1,37.67,1,2.29196,7.67288,5.74467,-0.171710,0.025479,-0.009538
2,37.68,1,2.29090,7.14240,5.82342,-0.238241,0.011214,0.000831
3,37.69,1,2.21800,7.14365,5.89930,-0.192912,0.019053,0.013374
4,37.70,1,2.30106,7.25857,6.09259,-0.069961,-0.018328,0.004582
...,...,...,...,...,...,...,...,...
288214,974.50,3,-1.99794,3.94300,9.15686,-0.112651,-0.003501,-0.066523
288215,974.51,3,-2.00276,4.20689,8.96346,-0.179092,0.020300,-0.010637
288216,974.52,3,-1.96042,4.09413,9.11842,-0.285215,0.010714,-0.017346
288217,974.53,3,-1.97860,3.78659,8.65734,-0.347098,0.040476,-0.020536
288218,974.54,3,-2.13484,3.63499,8.54005,-0.369435,0.036868,0.014151

In [50]:
subject101_df = pd.read_csv(subject101_file_path, names=col_names, skiprows=1)
subject101_df

,timestamp (s),activityID,X1,Y1,Z1,X2,Y2,Z2
0,37.66,1,2.21530,8.27915,5.58753,-0.004750,0.037579,-0.011145
1,37.67,1,2.29196,7.67288,5.74467,-0.171710,0.025479,-0.009538
2,37.68,1,2.29090,7.14240,5.82342,-0.238241,0.011214,0.000831
3,37.69,1,2.21800,7.14365,5.89930,-0.192912,0.019053,0.013374
4,37.70,1,2.30106,7.25857,6.09259,-0.069961,-0.018328,0.004582
...,...,...,...,...,...,...,...,...
72331,761.45,3,2.35899,7.40504,5.55414,-0.292110,0.095687,-0.024721
72332,761.46,3,2.36942,7.18043,5.90144,-0.330916,0.107007,-0.044081
72333,761.47,3,2.17406,6.83943,5.78420,-0.130746,0.074366,-0.051712
72334,761.48,3,2.17325,7.67241,5.58894,0.050723,0.035534,0.000376
72335,761.49,3,2.22653,8.35771,5.89533,0.184558,0.033761,0.002067

# Generating subsequences for each sequence of the data

In [5]:
def elbow_techique(sub_sequence_data):
    
    # _only for manual testing
    distortions = []
    for k in range(1,10):
        kmeanModel = KMeans(n_clusters=k)
        kmeanModel.fit(sub_sequence_data)
        distortions.append(kmeanModel.inertia_)

    # _plot the distortions to observe the elbow point from the graph
    plt.figure(figsize=(16,8))
    plt.plot(K, distortions, 'bx-')
    plt.xlabel('k')
    plt.ylabel('Distortion')
    plt.title('The Elbow Method showing the optimal k')
    plt.show()

In [6]:
def get_cluster_ids(sub_sequence_data, cluster_cnt):
    
    # _passing random state as an argument to make Kmeans clustering deterministic
    kMeans_model = KMeans(n_clusters = cluster_cnt,random_state=1234).fit(sub_sequence_data)
    return kMeans_model

In [7]:
def get_assigned_words(seq_clusters, cluster_words):
    
    # _assign word to each cluster of the subsequence usnig numpy where function
    assigned_words = np.where(seq_clusters != 0, seq_clusters, cluster_words[0])
    for idx in range(1, len(cluster_words)):
         assigned_words = np.where(seq_clusters != idx, assigned_words, cluster_words[idx])
            
    return assigned_words

In [8]:
def generating_numbers(sequence_names):
    
    # _each word contains common prefix of subsequence and unique cluster alphabet
    alphabet = 'ABCDEFGHIJ'
    words_dict = {}
    
    for seq in sequence_names:
        prefix = seq
        words_dict[seq] = [prefix+'_'+alphabet[i] for i in range(len(alphabet))]
        
    return words_dict

In [51]:
# _initializing variables
window_length = 10
window_overlap = 5

sequence_names = col_names[1:]
num_of_subsequences = len(sequence_names)
sub_sequences = [[] for x in range(num_of_subsequences)]
sub_sequences_101 = [[] for x in range(num_of_subsequences)]

In [44]:
window_index = 0
max_window_index = len(main_df.index)

while window_index <= (max_window_index - window_length):

    activity_sequence = main_df[sequence_names[0]][window_index:window_index+window_length].tolist()

    if len(set(activity_sequence)) == 1:
        sub_sequences[0].append(activity_sequence[0])
        
        for idx in range(1, num_of_subsequences):
            sub_sequences[idx].append(main_df[sequence_names[idx]][window_index:window_index+window_length].tolist())
            
    window_index += window_overlap

# _converting into numpy arrays
np_sequences = np.asarray(sub_sequences[1:])
print(np_sequences.shape)

(6, 57624, 10)

In [52]:
window_index = 0
max_window_index = len(subject101_df.index)

while window_index <= (max_window_index - window_length):

    activity_sequence = subject101_df[sequence_names[0]][window_index:window_index+window_length].tolist()

    if len(set(activity_sequence)) == 1:
        sub_sequences_101[0].append(activity_sequence[0])
        
        for idx in range(1, num_of_subsequences):
            sub_sequences_101[idx].append(subject101_df[sequence_names[idx]][window_index:window_index+window_length].tolist())
            
    window_index += window_overlap

# _converting into numpy arrays
np_sequences_101 = np.asarray(sub_sequences_101[1:])
print(np_sequences_101.shape)

(6, 14463, 10)

# Finding the statistics of the clusters(mean,variance,skewness)

In [12]:
# _document dataframe to store word assignments of each window
doc_df = pd.DataFrame(columns=col_names[1:])
doc_df['activityID'] = sub_sequences_101[0]
doc_df

      activityID   X1   Y1   Z1   X2   Y2   Z2
0              1  NaN  NaN  NaN  NaN  NaN  NaN
1              1  NaN  NaN  NaN  NaN  NaN  NaN
2              1  NaN  NaN  NaN  NaN  NaN  NaN
3              1  NaN  NaN  NaN  NaN  NaN  NaN
4              1  NaN  NaN  NaN  NaN  NaN  NaN
...          ...  ...  ...  ...  ...  ...  ...
14455          3  NaN  NaN  NaN  NaN  NaN  NaN
14456          3  NaN  NaN  NaN  NaN  NaN  NaN
14457          3  NaN  NaN  NaN  NaN  NaN  NaN
14458          3  NaN  NaN  NaN  NaN  NaN  NaN
14459          3  NaN  NaN  NaN  NaN  NaN  NaN

[14460 rows x 7 columns]

In [13]:
words_dict = generating_numbers(sequence_names[1:])
print(words_dict)
print()

# _after observing the clustering result with elbow method, we are manually choosing the n_clusters value.
# _testing: elbow_techique(np_sequences[0])
sequence_cluster_cnts = {'X1': 3, 'Y1': 4, 'Z1': 3, 'X2': 3, 'Y2': 3, 'Z2': 3}
print(sequence_cluster_cnts)

{'X1': ['X1_A', 'X1_B', 'X1_C', 'X1_D', 'X1_E', 'X1_F', 'X1_G', 'X1_H', 'X1_I', 'X1_J'], 'Y1': ['Y1_A', 'Y1_B', 'Y1_C', 'Y1_D', 'Y1_E', 'Y1_F', 'Y1_G', 'Y1_H', 'Y1_I', 'Y1_J'], 'Z1': ['Z1_A', 'Z1_B', 'Z1_C', 'Z1_D', 'Z1_E', 'Z1_F', 'Z1_G', 'Z1_H', 'Z1_I', 'Z1_J'], 'X2': ['X2_A', 'X2_B', 'X2_C', 'X2_D', 'X2_E', 'X2_F', 'X2_G', 'X2_H', 'X2_I', 'X2_J'], 'Y2': ['Y2_A', 'Y2_B', 'Y2_C', 'Y2_D', 'Y2_E', 'Y2_F', 'Y2_G', 'Y2_H', 'Y2_I', 'Y2_J'], 'Z2': ['Z2_A', 'Z2_B', 'Z2_C', 'Z2_D', 'Z2_E', 'Z2_F', 'Z2_G', 'Z2_H', 'Z2_I', 'Z2_J']}

{'X1': 3, 'Y1': 4, 'Z1': 3, 'X2': 3, 'Y2': 3, 'Z2': 3}

In [14]:
for idx, (seq, cluster_cnt) in enumerate(sequence_cluster_cnts.items()):
    
    # _perform k means clustering on subsequences
    KMeans_models = get_cluster_ids(np_sequences[idx], cluster_cnt)
    seq_clusters = KMeans_models.predict(np_sequences_101[idx])
    
    cluster_words = words_dict[seq][:cluster_cnt]
    
    print(f'{idx} -- {seq} -- {cluster_cnt} -- {cluster_words} -- {set(seq_clusters)}')
    
    # _get assigned words and fill the values in doc_df
    assigned_words = get_assigned_words(seq_clusters, cluster_words)
    doc_df[seq] = assigned_words

0 -- X1 -- 3 -- ['X1_A', 'X1_B', 'X1_C'] -- {0, 1, 2}
1 -- Y1 -- 4 -- ['Y1_A', 'Y1_B', 'Y1_C', 'Y1_D'] -- {0, 1, 2, 3}
2 -- Z1 -- 3 -- ['Z1_A', 'Z1_B', 'Z1_C'] -- {0, 1, 2}
3 -- X2 -- 3 -- ['X2_A', 'X2_B', 'X2_C'] -- {0, 1, 2}
4 -- Y2 -- 3 -- ['Y2_A', 'Y2_B', 'Y2_C'] -- {0, 1, 2}
5 -- Z2 -- 3 -- ['Z2_A', 'Z2_B', 'Z2_C'] -- {0, 1, 2}

doc_df

In [15]:
doc_df

      activityID    X1    Y1    Z1    X2    Y2    Z2
0              1  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
1              1  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
2              1  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
3              1  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
4              1  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
...          ...   ...   ...   ...   ...   ...   ...
14455          3  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
14456          3  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
14457          3  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
14458          3  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A
14459          3  X1_A  Y1_C  Z1_A  X2_B  Y2_A  Z2_A

[14460 rows x 7 columns]

In [35]:
# doc_df.drop_duplicates(keep=False, inplace=True)
# doc_df

# Finding the statistics of the clusters(mean,variance,skewness)

In [54]:
def clust_subseq(X,i):
    d1=pd.DataFrame(doc_df[X])
    X1_df = pd.DataFrame(np_sequences_101[i])
    df=pd.concat([d1,X1_df],axis = 1)
    df.columns =['Col_1', 'Col_2','Col_3','Col_4','Col_5','Col_6','Col_7','Col_8','Col_9','Col_10','Col_11'] 
    return df

In [55]:
cluster_subseq =[]
di = {'X1':0,'Y1':1,'Z1':2,'X2':3,'Y2':4,'Z2':5}

for key,value in di.items():    
    last = clust_subseq(key,value)
    cluster_subseq.append(last)

In [56]:
def clusterstatistics(Y,X):
    
    cluster_df = Y.loc[(Y['Col_1'] == X)] 
    
    Columns = ['Col_2','Col_3','Col_4','Col_5','Col_6','Col_7','Col_8','Col_9','Col_10','Col_11'] 
    Mean = []
    Variance = []
    Skewness = []

    for values in Columns:
        M = cluster_df [values].mean()
        V = cluster_df[values].var()
        S = cluster_df[values].skew()
        Mean.append(M)
        Variance.append(V)
        Skewness.append(S)
    
    stat_df=pd.DataFrame(Mean,columns=["Mean"])
    stat_df["Variance"]=Variance
    stat_df["Skewness"]=Skewness
    return  stat_df

In [57]:
statistic=[]
dic = {0:['X1_A', 'X1_B', 'X1_C'],
       1:['Y1_A', 'Y1_B', 'Y1_C', 'Y1_D'],
       2:['Z1_A', 'Z1_B', 'Z1_C'],
       3:['X2_A', 'X2_B', 'X2_C'],
       4:['Y2_A', 'Y2_B', 'Y2_C'],
       5:['Z2_A', 'Z2_B', 'Z2_C']
      }
for i in range(len(cluster_subseq)):
    cluster_names=dic[i]
    for j in range(len(cluster_names)):
        last1 = clusterstatistics(cluster_subseq[i],cluster_names[j])
        statistic.append(last1)
print(statistic)

[       Mean  Variance  Skewness
0  0.438487  2.454400 -1.323870
1  0.435567  2.440409 -1.323221
2  0.435311  2.425128 -1.329790
3  0.432982  2.409467 -1.331278
4  0.434743  2.391644 -1.348789
5  0.433053  2.380126 -1.357053
6  0.429340  2.378456 -1.369322
7  0.429108  2.375897 -1.372656
8  0.427599  2.375690 -1.369531
9  0.430802  2.378475 -1.379140,        Mean  Variance  Skewness
0 -8.068176  0.473445  1.994806
1 -8.065794  0.462660  1.843979
2 -8.069332  0.447339  1.710286
3 -8.069681  0.432752  1.715848
4 -8.071865  0.431500  1.594345
5 -8.074152  0.430457  1.406641
6 -8.069867  0.433396  1.442848
7 -8.071877  0.428450  1.433917
8 -8.070772  0.424077  1.567987
9 -8.071418  0.433380  1.582199,        Mean  Variance  Skewness
0  5.685511  2.809031 -0.477722
1  5.686962  2.795106 -0.462238
2  5.687747  2.791917 -0.445285
3  5.693594  2.782474 -0.436686
4  5.696187  2.749140 -0.418976
5  5.697135  2.733579 -0.406429
6  5.698102  2.724189 -0.395906
7  5.697599  2.730841 -0.399790
8  5.701250  2.736487 -0.408574
9  5.700783  2.721818 -0.403962,        Mean  Variance  Skewness
0  5.271937  0.923648  0.182288
1  5.271306  0.892684  0.099624
2  5.268234  0.865604  0.050218
3  5.267105  0.843463  0.053204
4  5.265746  0.810063  0.104976
5  5.267141  0.786845  0.059478
6  5.267649  0.768541  0.024650
7  5.266843  0.766337  0.041587
8  5.267205  0.771984  0.056663
9  5.266907  0.778904  0.123744,        Mean  Variance  Skewness
0  2.299940  1.267592  0.180760
1  2.294887  1.255241  0.181036
2  2.291155  1.248367  0.114814
3  2.283554  1.225128  0.069524
4  2.276211  1.195980  0.072080
5  2.276709  1.169477  0.090243
6  2.273838  1.150679  0.108714
7  2.274917  1.144452  0.123239
8  2.273242  1.139900  0.128341
9  2.272641  1.150192  0.137971,        Mean  Variance  Skewness
0  8.595462  0.874343  0.624954
1  8.601162  0.848492  0.739938
2  8.605750  0.810352  0.770051
3  8.610239  0.792362  0.770526
4  8.618722  0.800479  0.936741
5  8.619981  0.796983  1.101558
6  8.623799  0.775553  1.185080
7  8.623335  0.753849  1.103620
8  8.622341  0.752797  1.005321
9  8.623588  0.782578  1.050891,        Mean  Variance  Skewness
0 -3.850915  0.666194  2.764772
1 -3.848262  0.648126  2.348675
2 -3.850470  0.665258  2.345948
3 -3.856935  0.676545  2.634533
4 -3.858948  0.653190  2.608848
5 -3.861867  0.600618  2.408953
6 -3.862988  0.566236  1.990726
7 -3.869297  0.572685  1.883198
8 -3.878406  0.550768  1.862308
9 -3.875217  0.545718  1.978247,        Mean  Variance  Skewness
0  6.242884  1.041685  0.095879
1  6.249254  1.024720  0.116521
2  6.250335  1.021436  0.149862
3  6.255146  1.006793  0.193333
4  6.259609  0.996819  0.230140
5  6.257959  0.992033  0.261109
6  6.263020  0.977804  0.268337
7  6.262272  0.979413  0.280799
8  6.263933  0.974735  0.289252
9  6.264304  0.979132  0.281492,        Mean  Variance  Skewness
0  2.974678  1.749779 -1.450110
1  2.969020  1.729924 -1.467634
2  2.968295  1.721848 -1.483924
3  2.965266  1.697820 -1.495659
4  2.960440  1.687233 -1.489214
5  2.960221  1.664568 -1.502771
6  2.955577  1.655780 -1.499722
7  2.956240  1.662835 -1.512496
8  2.956146  1.658163 -1.519376
9  2.955405  1.668120 -1.503141,        Mean  Variance  Skewness
0 -7.429292  3.708393  1.996564
1 -7.425509  3.666728  1.969325
2 -7.427084  3.653344  1.910756
3 -7.440983  3.647118  1.869959
4 -7.442976  3.590498  1.927028
5 -7.444541  3.563819  1.961071
6 -7.437586  3.560916  1.938116
7 -7.435411  3.581793  1.882046
8 -7.445942  3.603573  1.854302
9 -7.444789  3.573989  1.916790,        Mean  Variance  Skewness
0 -0.864747  0.471540 -0.037386
1 -0.929339  0.453348 -0.095696
2 -0.996301  0.447805 -0.182545
3 -1.061401  0.433605 -0.424882
4 -1.118637  0.401310 -0.670483
5 -1.158766  0.365714 -0.835377
6 -1.190560  0.337934 -0.800094
7 -1.205323  0.325004 -0.700198
8 -1.196844  0.335847 -0.648062
9 -1.172394  0.359845 -0.572359,        Mean  Variance  Skewness
0  0.000222  0.058270  0.053515
1 -0.000036  0.055411  0.194193
2 -0.000166  0.052579  0.296583
3 -0.000950  0.049306  0.304240
4 -0.001579  0.045992  0.186040
5 -0.001167  0.042755  0.070114
6 -0.001259  0.040853 -0.049140
7 -0.001184  0.040451 -0.245343
8 -0.001926  0.040870 -0.344194
9 -0.002531  0.041649 -0.385562,        Mean  Variance  Skewness
0  0.914876  0.522822 -0.348037
1  0.970233  0.477998 -0.265500
2  1.032588  0.431840 -0.265746
3  1.093919  0.393389 -0.238407
4  1.144010  0.357648 -0.133759
5  1.183662  0.329249  0.196563
6  1.209514  0.318237  0.530955
7  1.226496  0.314185  0.508355
8  1.234508  0.307116  0.302061
9  1.226022  0.304847  0.171961,        Mean  Variance  Skewness
0  0.011175  0.021202  0.404103
1  0.011834  0.020456  0.488538
2  0.011466  0.019698  0.581586
3  0.011684  0.019104  0.616892
4  0.012013  0.018537  0.723288
5  0.011982  0.018075  0.794592
6  0.012625  0.017890  0.873471
7  0.012133  0.017745  0.907803
8  0.012261  0.017717  0.927747
9  0.012452  0.017784  0.974697,        Mean  Variance  Skewness
0 -1.009103  0.289868 -0.446979
1 -1.026906  0.277049 -0.449291
2 -1.040000  0.260891 -0.497896
3 -1.051341  0.252510 -0.565727
4 -1.061325  0.240086 -0.617529
5 -1.073067  0.232201 -0.684303
6 -1.082673  0.223712 -0.712944
7 -1.084214  0.217140 -0.755978
8 -1.085587  0.217817 -0.799402
9 -1.083237  0.217258 -0.789717,        Mean  Variance  Skewness
0  1.080903  0.325666  2.296191
1  1.097075  0.311917  2.411978
2  1.110577  0.298755  2.499964
3  1.122744  0.296318  2.615124
4  1.134120  0.290404  2.692872
5  1.140117  0.282300  2.731047
6  1.142534  0.277781  2.779716
7  1.143941  0.272640  2.810939
8  1.143891  0.277778  2.862749
9  1.142199  0.281631  2.831105,        Mean  Variance  Skewness
0 -0.005515  0.041892 -0.060758
1 -0.005337  0.040391 -0.044848
2 -0.005169  0.038802 -0.076297
3 -0.005107  0.037535 -0.053549
4 -0.005485  0.036610 -0.023611
5 -0.005217  0.035830  0.007872
6 -0.005104  0.035347  0.016852
7 -0.005000  0.034874 -0.034568
8 -0.005007  0.034801 -0.038775
9 -0.005467  0.035090 -0.036531,        Mean  Variance  Skewness
0  1.804086  0.686853  0.463956
1  1.831041  0.656804  0.504468
2  1.856571  0.617248  0.516934
3  1.885936  0.576700  0.557426
4  1.905750  0.543703  0.623040
5  1.925726  0.531888  0.716063
6  1.933761  0.518630  0.769450
7  1.937518  0.504031  0.757180
8  1.942872  0.496421  0.739625
9  1.938559  0.498384  0.729883,        Mean  Variance  Skewness
0 -1.745209  0.781409 -0.873423
1 -1.777265  0.737172 -0.954734
2 -1.807448  0.698372 -1.025585
3 -1.834914  0.659446 -1.132974
4 -1.858416  0.625970 -1.218461
5 -1.878182  0.603599 -1.286858
6 -1.888100  0.583727 -1.366683
7 -1.893871  0.574952 -1.390713
8 -1.893646  0.574868 -1.403359
9 -1.888647  0.583692 -1.352122]

In [58]:
allvalues=[]
for i in range(len(statistic)):
    l=statistic[i].T
    allvalues.append(l)
    
allvalues1 = []
for i in range(len(allvalues)):
    aa = pd.DataFrame(allvalues[i].stack().to_frame().values).T
    allvalues1.append(aa)

In [59]:
# _combine individual words as documents
doc_df['final_sub_sequence'] = doc_df[col_names[2:]].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
doc_df

,activityID,X1,Y1,Z1,X2,Y2,Z2,final_sub_sequence
0,1,X1_A,Y1_C,Z1_A,X2_B,Y2_A,Z2_A,X1_A Y1_C Z1_A X2_B Y2_A Z2_A
1,1,X1_A,Y1_C,Z1_A,X2_B,Y2_A,Z2_A,X1_A Y1_C Z1_A X2_B Y2_A Z2_A
2,1,X1_A,Y1_C,Z1_A,X2_B,Y2_A,Z2_A,X1_A Y1_C Z1_A X2_B Y2_A Z2_A
3,1,X1_A,Y1_C,Z1_A,X2_B,Y2_A,Z2_A,X1_A Y1_C Z1_A X2_B Y2_A Z2_A
4,1,X1_A,Y1_C,Z1_A,X2_B,Y2_A,Z2_A,X1_A Y1_C Z1_A X2_B Y2_A Z2_A
...,...,...,...,...,...,...,...,...
14455,3,X1_A,Y1_C,Z1_A,X2_B,Y2_A,Z2_A,X1_A Y1_C Z1_A X2_B Y2_A Z2_A
14456,3,X1_A,Y1_C,Z1_A,X2_B,Y2_A,Z2_A,X1_A Y1_C Z1_A X2_B Y2_A Z2_A
14457,3,X1_A,Y1_C,Z1_A,X2_B,Y2_A,Z2_A,X1_A Y1_C Z1_A X2_B Y2_A Z2_A
14458,3,X1_A,Y1_C,Z1_A,X2_B,Y2_A,Z2_A,X1_A Y1_C Z1_A X2_B Y2_A Z2_A
14459,3,X1_A,Y1_C,Z1_A,X2_B,Y2_A,Z2_A,X1_A Y1_C Z1_A X2_B Y2_A Z2_A

In [60]:
# _save the combined values to text files
for activity in doc_df['activityID'].unique():
    output_filepath = os.getcwd() + f'/../../data/sub_sequence_output/activity_subseq_' + str(activity) + '.txt'
    doc_df.loc[doc_df['activityID'] == activity][['final_sub_sequence']].to_csv(output_filepath, sep='\t', index=False, header= False)